body,
html {
  background: #1a1b26;
  font-family: "meslolgs_nfregular";
  color: #c0caf5;
}

header {
  position: relative;
  background-image: url("../images/dots.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: #16161d;
  height: fit-content;
  padding: 5px;
}

a {
  color: #c0caf5;
  text-decoration: none;
}
a:hover {
  color: #c0caf5;
}

.navbar-brand {
  color: #c0caf5;
}
.navbar-brand:hover {
  color: #73daca;
}

.navbar {
  background-color: #1a1b26;
  color: #c0caf5;
}
.navbar .nav-link {
  color: #c0caf5;
  margin-left: 5px;
  margin-right: 5px;
}
.navbar .nav-link:hover {
  color: #73daca;
}
.navbar .nav-link.active {
  color: #c0caf5;
  border-bottom: solid 2px #bb9af7;
}
.navbar .nav-link.active:hover {
  color: #73daca;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192, 202, 245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
  outline: none;
  box-shadow: none;
}

#title-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

#plaque {
  background-color: #1a1b26;
  border: solid 5px #7aa2f7;
  padding: 1rem 0;
  margin: 0 15%;
  text-align: center;
}
#plaque #header {
  color: #73daca;
  font-size: 40px;
}

.typing-effect {
  overflow: hidden;
  border-right: 0.4em solid #9ece6a;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing-animation 1.2s steps(18, end) 1s normal both, blink-caret 1.2s step-end infinite;
}

@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 200px;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #73daca;
  }
}
#header-text {
  color: #73daca;
}

.header {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.header span {
  background-color: #303447;
  color: #f0f0f0;
  border: solid 3px #303447;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  margin-top: 35px;
}
.row:last-child {
  margin-bottom: 35px;
}

#logo {
  align-self: center;
}

#group-photo {
  display: block;
  border: solid 1px;
}

.web-icon {
  text-align: center;
}
.web-icon i {
  font-size: 70px;
}
.web-icon .fa-facebook {
  color: #7aa2f7;
}
.web-icon .fa-instagram {
  color: #f7768e;
}
.web-icon .card {
  background-color: #20212e;
  border-radius: 5px;
  padding: 20px;
}
.web-icon .card:hover {
  background-color: #1e1f2b;
}

.caption {
  font-size: 20px;
  display: block;
}

#return-link {
  margin-right: 10px;
  color: #c0caf5;
  text-decoration: none;
}
#return-link:hover {
  color: #73daca;
}

@media screen and (max-width: 900px) {
  .web-icon:not(:first-child) {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  #work-header {
    margin-left: 5%;
    margin-right: 5%;
  }
  #plaque {
    margin-left: unset;
    margin-right: unset;
    text-align: center;
  }
}

/*# sourceMappingURL=charity.css.map */
