body,
html {
  font-family: "meslolgs_nfregular";
  background-color: #1a1b26;
  color: #c0caf5;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  position: relative;
  background-image: url("../images/dots.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

footer {
  background-color: #16161d;
  height: fit-content;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #c0caf5;
}

.navbar {
  background-color: #1a1b26;
  color: #c0caf5;
}
.navbar .nav-link {
  color: #c0caf5;
  margin-left: 5px;
  margin-right: 5px;
}
.navbar .nav-link:hover {
  color: #73daca;
}
.navbar .nav-link.active {
  color: #c0caf5;
  border-bottom: solid 2px #bb9af7;
}
.navbar .nav-link.active:hover {
  color: #73daca;
}

.navbar-brand {
  color: #c0caf5;
}
.navbar-brand:hover {
  color: #73daca;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192, 202, 245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
  outline: none;
  box-shadow: none;
}

img {
  border: solid 7px #303447;
  border-radius: 5px;
}

.red {
  color: #f7768e;
}

.blue {
  color: #7aa2f7;
}

.yellow {
  color: #e0af68;
}

.purple {
  color: #bb9af7;
}

.orange {
  color: #ff9e64;
}

.green {
  color: #9ece6a;
}

.teal {
  color: #73daca;
}

.grey {
  color: #9aa5ce;
}

.cyan {
  color: #7dcfff;
}

.white {
  color: #f0f0f0;
}

#return-link {
  margin-right: 10px;
  color: #c0caf5;
  text-decoration: none;
}
#return-link:hover {
  color: #73daca;
}

@media screen and (max-width: 500px) {
  header {
    background-attachment: unset;
  }
}
#title-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

#plaque {
  background-color: #1a1b26;
  border: solid 5px #7aa2f7;
  padding: 1rem 0;
  margin: 0 15%;
}
#plaque #header {
  font-size: 40px;
}

.grid-item:nth-child(1) .card h2 {
  color: #7aa2f7;
}
.grid-item:nth-child(2) .card h2 {
  color: #bb9af7;
}
.grid-item:nth-child(3) .card h2 {
  color: #73daca;
}
.grid-item:nth-child(4) .card h2 {
  color: #9ece6a;
}
.grid-item:nth-child(5) .card h2 {
  color: #e0af68;
}
.grid-item:nth-child(6) .card h2 {
  color: #ff9e64;
}
.grid-item:nth-child(7) .card h2 {
  color: #f7768e;
}
.grid-item:nth-child(8) .card h2 {
  color: #7aa2f7;
}
.grid-item:nth-child(9) .card h2 {
  color: #bb9af7;
}
.grid-item:nth-child(10) .card h2 {
  color: #73daca;
}
.grid-item:nth-child(11) .card h2 {
  color: #9ece6a;
}
.grid-item:nth-child(12) .card h2 {
  color: #e0af68;
}
.grid-item:nth-child(13) .card h2 {
  color: #ff9e64;
}
.grid-item:nth-child(14) .card h2 {
  color: #f7768e;
}
.grid-item:nth-child(15) .card h2 {
  color: #7aa2f7;
}
.grid-item:nth-child(16) .card h2 {
  color: #bb9af7;
}
.grid-item:nth-child(17) .card h2 {
  color: #73daca;
}
.grid-item:nth-child(18) .card h2 {
  color: #9ece6a;
}
.grid-item:nth-child(19) .card h2 {
  color: #e0af68;
}
.grid-item:nth-child(20) .card h2 {
  color: #ff9e64;
}
.grid-item .card {
  background-color: #20212e;
  padding: 20px;
  border-radius: 5px;
}
.grid-item .card h2 {
  margin-bottom: 20px;
}
.grid-item .card h2 .shortened {
  font-size: 22px;
}
.grid-item .card a {
  margin-top: 10px;
  font-size: 20px;
}
.grid-item .card a:hover {
  color: #73daca;
}

.hidden-fade {
  opacity: 0;
  transition: all 1s;
  transform: translateY(5vh);
}

.show-fade {
  opacity: 1;
}

.hidden-slide {
  opacity: 0;
  transition: all 1s;
  transform: translateX(100%);
}

.show-slide {
  opacity: 1;
  transform: translateX(0);
}

.typing-effect {
  overflow: hidden;
  border-right: 0.4em solid #9ece6a;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing-animation 2s steps(22, end) 1s normal both, blink-caret 1.2s step-end infinite;
}

@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #9ece6a;
  }
}
body,
html {
  background: #1a1b26;
  font-family: "meslolgs_nfregular";
  color: #c0caf5;
}

footer {
  width: 100vw;
  margin-top: auto;
}

a {
  color: #c0caf5;
  text-decoration: none;
}
a:hover {
  color: #c0caf5;
}

#title-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

#plaque {
  background-color: #1a1b26;
  border: solid 5px #7aa2f7;
  padding: 1rem 0;
  margin: 0 15%;
  text-align: center;
}
#plaque #header {
  color: #73daca;
  font-size: 40px;
}

.typing-effect {
  overflow: hidden;
  border-right: 0.4em solid #9ece6a;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing-animation 1.2s steps(18, end) 1s normal both, blink-caret 1.2s step-end infinite;
}

@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 200px;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #73daca;
  }
}
#header-text {
  color: #73daca;
}

#logo {
  align-self: center;
}

#group-photo {
  display: block;
  border: solid 1px;
}

.web-icon {
  text-align: center;
}
.web-icon i {
  font-size: 70px;
}
.web-icon .fa-facebook {
  color: #7aa2f7;
}
.web-icon .fa-instagram {
  color: #f7768e;
}
.web-icon .card {
  background-color: #20212e;
  border-radius: 5px;
  padding: 20px;
}
.web-icon .card:hover {
  background-color: #1e1f2b;
}

.caption {
  font-size: 20px;
  display: block;
}

#return-link {
  margin-right: 10px;
  color: #c0caf5;
  text-decoration: none;
}
#return-link:hover {
  color: #73daca;
}

@media screen and (max-width: 900px) {
  .web-icon:not(:first-child) {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  #work-header {
    margin-left: 5%;
    margin-right: 5%;
  }
  #plaque {
    margin-left: unset;
    margin-right: unset;
    text-align: center;
  }
}

/*# sourceMappingURL=charity.css.map */
