body,
html {
  margin: 0;
  height: 100%;
  font-family: "meslolgs_nfregular";
  background-color: #1a1b26;
  color: #c0caf5;
  bs-navbar-toggler-border-color: #c0caf5 !important;
}

header {
  position: relative;
  background-image: url("../images/dots.png");
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  padding: 1.6rem;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main {
  background-color: #1a1b26;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer {
  background-color: #16161d;
  height: fit-content;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #c0caf5;
}
a:hover {
  color: #c0caf5;
}

img {
  border: solid 7px #303447;
  border-radius: 15px;
}

.red {
  color: #f7768e;
}

.blue {
  color: #7aa2f7;
}

.yellow {
  color: #e0af68;
}

.purple {
  color: #bb9af7;
}

.orange {
  color: #ff9e64;
}

.green {
  color: #9ece6a;
}

.teal {
  color: #73daca;
}

.grey {
  color: #9aa5ce;
}

.cyan {
  color: #7dcfff;
}

.white {
  color: #f0f0f0;
}

.navbar {
  background-color: #1a1b26;
  color: #c0caf5;
}
.navbar .nav-link {
  color: #c0caf5;
  margin-left: 5px;
  margin-right: 5px;
}
.navbar .nav-link:hover {
  color: #73daca;
}
.navbar .nav-link.active {
  color: #c0caf5;
  border-bottom: solid 2px #bb9af7;
}
.navbar .nav-link.active:hover {
  color: #73daca;
}

.navbar-brand {
  color: #c0caf5;
}
.navbar-brand:hover {
  color: #73daca;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192, 202, 245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
  outline: none;
  box-shadow: none;
}

.header {
  padding: 5px;
  color: #f0f0f0;
  background-color: #303447;
  border: solid 3px #303447;
  border-radius: 15px;
}

.hidden {
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.outlined-block {
  background-color: #1a1b26;
  border: solid 5px #7aa2f7;
  margin: 1rem;
}

.typing-effect {
  overflow: hidden;
  border-right: 0.4em solid #9ece6a;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing-animation 2s steps(22, end) 1s normal both, blink-caret 1.2s step-end infinite;
}

@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #9ece6a;
  }
}
#welcome-sign {
  padding: 2vw 5vw;
}
#welcome-sign h1 {
  font-size: 2rem;
}

#landing-page-photo {
  margin: 1rem;
  max-width: 30vh;
  border: solid 7px #303447;
}

#summary-info {
  max-width: 30rem;
  word-wrap: break-word;
  padding: 1rem;
}

#resume-link a {
  text-decoration: none;
  color: #c0caf5;
}
#resume-link a:hover {
  color: #73daca;
}

#about-header {
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 25px;
}

.buffer {
  margin-top: 70px;
}

.question-prompt {
  font-size: 48px;
}

#trophy-picture {
  width: 80%;
  display: block;
  margin: auto;
}

#what-header {
  margin-top: 100px;
  margin-bottom: 30px;
  padding-bottom: 7px;
}

.skills-group {
  font-size: 80px;
  margin-bottom: 30px;
}

.skill-icon {
  display: inline-block;
  text-align: center;
  padding: 20px;
  background-color: #20212e;
  border-radius: 5px;
  margin: 0.5rem;
}
.skill-icon:nth-child(1) {
  transition-delay: 200ms;
}
.skill-icon:nth-child(2) {
  transition-delay: 400ms;
}
.skill-icon:nth-child(3) {
  transition-delay: 600ms;
}
.skill-icon:nth-child(4) {
  transition-delay: 800ms;
}
.skill-icon:nth-child(5) {
  transition-delay: 1000ms;
}
.skill-icon:nth-child(6) {
  transition-delay: 1200ms;
}
.skill-icon:nth-child(7) {
  transition-delay: 1400ms;
}
.skill-icon:nth-child(8) {
  transition-delay: 1600ms;
}
.skill-icon:nth-child(9) {
  transition-delay: 1800ms;
}
.skill-icon:nth-child(10) {
  transition-delay: 2000ms;
}
.skill-icon:nth-child(11) {
  transition-delay: 2200ms;
}
.skill-icon:nth-child(12) {
  transition-delay: 2400ms;
}

.caption {
  font-size: 20px;
  display: block;
}

.shortened {
  font-size: 13px;
  padding-bottom: 10px;
}

#project-display {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 70vh;
}

.project-card {
  background-color: #20212e;
  border: solid 1px #20212e;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}
.project-card h1 {
  font-size: 1.5rem;
}
.project-card h2 {
  font-size: 1.25rem;
}
.project-card a {
  color: #c0caf5;
  text-decoration: none;
}
.project-card a span:hover {
  color: #73daca;
}
.project-card:nth-child(1) h1 {
  color: #7aa2f7;
}
.project-card:nth-child(2) h1 {
  color: #bb9af7;
}
.project-card:nth-child(3) h1 {
  color: #73daca;
}
.project-card:nth-child(4) h1 {
  color: #9ece6a;
}
.project-card:nth-child(5) h1 {
  color: #e0af68;
}
.project-card:nth-child(6) h1 {
  color: #ff9e64;
}
.project-card:nth-child(7) h1 {
  color: #f7768e;
}
.project-card:nth-child(8) h1 {
  color: #7aa2f7;
}
.project-card:nth-child(9) h1 {
  color: #bb9af7;
}
.project-card:nth-child(10) h1 {
  color: #73daca;
}
.project-card:nth-child(11) h1 {
  color: #9ece6a;
}
.project-card:nth-child(12) h1 {
  color: #e0af68;
}
.project-card:nth-child(13) h1 {
  color: #ff9e64;
}
.project-card:nth-child(14) h1 {
  color: #f7768e;
}
.project-card:nth-child(15) h1 {
  color: #7aa2f7;
}
.project-card:nth-child(16) h1 {
  color: #bb9af7;
}
.project-card:nth-child(17) h1 {
  color: #73daca;
}
.project-card:nth-child(18) h1 {
  color: #9ece6a;
}
.project-card:nth-child(19) h1 {
  color: #e0af68;
}
.project-card:nth-child(20) h1 {
  color: #ff9e64;
}

.findme-section {
  font-size: 70px;
}

#mail-link {
  font-size: 2rem;
}
#mail-link:hover {
  color: #73daca;
}

.web-icon .card {
  background-color: #20212e;
  border-radius: 10px;
  padding: 20px;
}
.web-icon .card:hover {
  background-color: #1e1f2b;
}

#pim-photo {
  width: 80%;
  display: block;
  margin: auto;
}

#return-link {
  margin-right: 10px;
  color: #c0caf5;
  text-decoration: none;
}
#return-link:hover {
  color: #73daca;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 900px) {
  header {
    flex-direction: column;
  }
  #trophy-picture {
    margin-top: 40px;
  }
  #project-display {
    max-height: none;
  }
  #pim-photo {
    margin-top: 40px;
  }
  .web-icon:not(:first-child) {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  #about-header {
    margin-left: 5%;
    margin-right: 5%;
  }
  #timeline-header {
    margin-left: 5%;
    margin-right: 5%;
  }
  .timeline {
    max-width: 100%;
    padding: 25px;
  }
  .timeline .project {
    padding-top: 30px;
  }
  .timeline .project:before {
    left: 0px;
    text-align: left;
  }
  .timeline .project:after {
    left: -31.8px;
  }
}

/*# sourceMappingURL=index.css.map */
