:root {
  --bs-blue: #7aa2f7;
  --bs-indigo: #6610f2;
  --bs-purple: #bb9af7;
  --bs-pink: #d63384;
  --bs-red: #f7768e;
  --bs-orange: #ff9e64;
  --bs-yellow: #e0af68;
  --bs-green: #9ece6a;
  --bs-teal: #73daca;
  --bs-cyan: #7dcfff;
  --bs-black: #000;
  --bs-white: #f0f0f0;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #7aa2f7;
  --bs-secondary: #6c757d;
  --bs-success: #9ece6a;
  --bs-info: #7dcfff;
  --bs-warning: #e0af68;
  --bs-danger: #f7768e;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 122, 162, 247;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 158, 206, 106;
  --bs-info-rgb: 125, 207, 255;
  --bs-warning-rgb: 224, 175, 104;
  --bs-danger-rgb: 247, 118, 142;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 240, 240, 240;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 240, 240, 240;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(240, 240, 240, 0.15), rgba(240, 240, 240, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #f0f0f0;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-heading-color: ;
  --bs-link-color: #7aa2f7;
  --bs-link-hover-color: #6282c6;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #f9efe1;
}

.accordion {
  --bs-accordion-color: #f0f0f0;
  --bs-accordion-bg: #1a1b26;
  --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: #303447;
  --bs-accordion-border-width: 5px;
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-inner-border-radius: calc(0.375rem - 5px);
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: #c0caf5;
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c0caf5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f0f0f0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #f0f0f0;
  --bs-accordion-active-bg: #303447;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1rem;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: var(--bs-accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    transition: none;
  }
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: var(--bs-accordion-active-bg);
  box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}
.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button::after {
    transition: none;
  }
}
.accordion-button:hover {
  z-index: 2;
}
.accordion-button:focus {
  z-index: 3;
  border-color: var(--bs-accordion-btn-focus-border-color);
  outline: 0;
  box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
.accordion-item:first-of-type {
  border-top-left-radius: var(--bs-accordion-border-radius);
  border-top-right-radius: var(--bs-accordion-border-radius);
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-item:not(:first-of-type) {
  border-top: 0;
}
.accordion-item:last-of-type {
  border-bottom-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius);
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-item:last-of-type .accordion-collapse {
  border-bottom-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius);
}

.accordion-body {
  padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
}

.accordion-flush .accordion-collapse {
  border-width: 0;
}
.accordion-flush .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.accordion-flush .accordion-item:first-child {
  border-top: 0;
}
.accordion-flush .accordion-item:last-child {
  border-bottom: 0;
}
.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
}

body,
html {
  margin: 0;
  height: 100%;
  font-family: "meslolgs_nfregular";
  background-color: #1a1b26;
  color: #c0caf5;
  bs-navbar-toggler-border-color: #c0caf5 !important;
  scroll-behavior: smooth;
}

header {
  position: relative;
  background-image: url("../images/dots.png");
  background-size: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

main {
  background-color: #1a1b26;
  background-size: cover;
  padding: 1rem 0;
}

footer {
  background-color: #16161d;
  height: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: #c0caf5;
}
a:hover {
  color: #c0caf5;
}

.red {
  color: #f7768e;
}

.blue {
  color: #7aa2f7;
}

.yellow {
  color: #e0af68;
}

.purple {
  color: #bb9af7;
}

.orange {
  color: #ff9e64;
}

.green {
  color: #9ece6a;
}

.teal {
  color: #73daca;
}

.grey {
  color: #9aa5ce;
}

.cyan {
  color: #7dcfff;
}

.white {
  color: #f0f0f0;
}

.header {
  margin: 2rem 0;
}

.navbar {
  background-color: #1a1b26;
  color: #c0caf5;
}

.navbar-brand {
  color: #c0caf5;
}
.navbar-brand:hover {
  color: #73daca;
}

.nav-link {
  color: #c0caf5;
  margin-left: 5px;
  margin-right: 5px;
}
.nav-link:hover {
  color: #73daca;
}
.nav-link.active {
  color: #c0caf5 !important;
  border-bottom: solid 2px #bb9af7;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192, 202, 245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
  outline: none;
  box-shadow: none;
}

.highlight {
  color: #f0f0f0;
  background-color: #303447;
  border: solid 1px #303447;
  border-radius: 5px;
}

.outlined-block {
  background-color: #1a1b26;
  border: solid 5px #7aa2f7;
}

.typing-effect {
  overflow: hidden;
  border-right: 0.4em solid #9ece6a;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing-animation 2s steps(22, end) 1s normal both, blink-caret 1.2s step-end infinite;
}

.greeter-block {
  margin: 1rem;
}

@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #9ece6a;
  }
}
.landing-page-greeter {
  padding: 1.6rem;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#welcome-sign {
  padding: 2vw 5vw;
}
#welcome-sign h1 {
  font-size: 2rem;
}

#landing-page-photo {
  margin: 1rem;
  max-width: 30vh;
  border: solid 7px #303447;
}

#summary-info {
  max-width: 30rem;
  word-wrap: break-word;
  padding: 1rem;
}

#project-display {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 70vh;
}

.project-card {
  background-color: #20212e;
  border: solid 1px #20212e;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}
.project-card h1 {
  font-size: 1.5rem;
}
.project-card h2 {
  font-size: 1.25rem;
}
.project-card a span:hover {
  color: #73daca;
}
.project-card:nth-child(1) h1 {
  color: #7aa2f7;
}
.project-card:nth-child(2) h1 {
  color: #bb9af7;
}
.project-card:nth-child(3) h1 {
  color: #73daca;
}
.project-card:nth-child(4) h1 {
  color: #9ece6a;
}
.project-card:nth-child(5) h1 {
  color: #e0af68;
}
.project-card:nth-child(6) h1 {
  color: #ff9e64;
}
.project-card:nth-child(7) h1 {
  color: #f7768e;
}
.project-card:nth-child(8) h1 {
  color: #7aa2f7;
}
.project-card:nth-child(9) h1 {
  color: #bb9af7;
}
.project-card:nth-child(10) h1 {
  color: #73daca;
}
.project-card:nth-child(11) h1 {
  color: #9ece6a;
}
.project-card:nth-child(12) h1 {
  color: #e0af68;
}
.project-card:nth-child(13) h1 {
  color: #ff9e64;
}
.project-card:nth-child(14) h1 {
  color: #f7768e;
}
.project-card:nth-child(15) h1 {
  color: #7aa2f7;
}
.project-card:nth-child(16) h1 {
  color: #bb9af7;
}
.project-card:nth-child(17) h1 {
  color: #73daca;
}
.project-card:nth-child(18) h1 {
  color: #9ece6a;
}
.project-card:nth-child(19) h1 {
  color: #e0af68;
}
.project-card:nth-child(20) h1 {
  color: #ff9e64;
}

.skills-group {
  font-size: 80px;
  margin-bottom: 30px;
}

.skill-icon {
  display: inline-block;
  text-align: center;
  padding: 20px;
  background-color: #20212e;
  border-radius: 5px;
  margin: 0.5rem;
}

.caption {
  font-size: 20px;
  display: block;
}

.shortened {
  font-size: 13px;
  padding-bottom: 10px;
}

#technologies-header {
  color: #73daca;
}

#hardware-header {
  color: #7aa2f7;
}

#server-header {
  color: #bb9af7;
}

.accordion-body {
  color: #c0caf5;
}

#timeline-header {
  margin-left: 25%;
  margin-right: 25%;
}

.findme-section {
  font-size: 70px;
}

#mail-link:hover {
  color: #c0caf5;
}
#mail-link span {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}
#mail-link span:hover {
  color: #73daca;
}

.web-icon .card {
  background-color: #20212e;
  border-radius: 10px;
  padding: 20px;
}
.web-icon .card:hover {
  background-color: #1e1f2b;
}

#pim-photo {
  width: 80%;
  display: block;
  margin: auto;
}

#return-link {
  margin-right: 10px;
  color: #c0caf5;
  text-decoration: none;
}
#return-link:hover {
  color: #73daca;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 900px) {
  #project-display {
    max-height: none;
  }
  .landing-page-greeter {
    flex-direction: column;
  }
  #welcome-sign span h1 {
    font-size: 3vh;
  }
  #pim-photo {
    margin-top: 40px;
  }
  .web-icon:not(:first-child) {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  .scrollable {
    flex-direction: row;
  }
  #about-header {
    margin-left: 5%;
    margin-right: 5%;
  }
  #timeline-header {
    margin-left: 5%;
    margin-right: 5%;
  }
  .timeline {
    max-width: 100%;
    padding: 25px;
  }
  .timeline .project {
    padding-top: 30px;
  }
  .timeline .project:before {
    left: 0px;
    text-align: left;
  }
  .timeline .project:after {
    left: -31.8px;
  }
}

/*# sourceMappingURL=index.css.map */
