@use "variables" as *;
@use "./base.scss";
@use "./grid.scss";
@use "./animations.scss";


#title-card {
    #plaque {
        color: $orange;
    }
}

.typing-effect {
    overflow: hidden;
    border-right: 0.4em solid $green;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing-animation 1.2s steps(18, end) 1s normal both,
                blink-caret 1.2s step-end infinite;
}

@keyframes typing-animation {
    from {
        width: 0;
    }
    to {
        width: 500px;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: $orange;
    }
}

.card {
    text-align: center;
    align-items: center;

    // height: 29rem;

    img {
        border: solid 5px $highlight;
        border-radius: 5px;
        width: 75%;
    }

    .multiple-links {
        text-align: center;
        padding-top: 18px;
        padding-bottom: 2px;
        a {
            font-size: 17px;
            white-space: nowrap;
        }
    }   
}

// .smaller-title {
//     font-size: 18.7px;
// }

// #padded-card {
//     padding-bottom: 45px;
// }


@media screen and (max-width: 900px) {
    footer {
        position: fixed;
        width: 100vw;
        bottom: 0;
    }

    #plaque {
        h1 {
            white-space: normal;
        }
    }

    .card {
        h2 {
            font-size: 1.5rem;
        }
    }

    @keyframes typing-animation {
        from {
            width: 0;
        }
        to {
            width: 220px;
        }
    }
}

@media screen and (max-width: 500px) {
    footer {
        position: unset;
    }
}