@use "./variables.scss" as *;

body,
html {
    font-family: 'meslolgs_nfregular';
    background-color: $background;
    color: $text;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    position: relative;
    background-image: url("../images/dots.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer {
    background-color: $background-dark;
    height: fit-content;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: $text;
}

@mixin card {
    background-color: $background-light;
    border: solid 3px $background-light  
}

.link {
    text-decoration: underline;

    &:hover {
        color: $teal;
    }
}

.navbar {
    background-color: $background;
    color: $text;

    .nav-link {
        color: $text;
        margin-left: 5px;
        margin-right: 5px;

        transition: none;
        
        &:hover {
            color: $teal;
        }
    
        &.active {
            color: $text;
            border-bottom: solid 2px $purple;
    
            &:hover {
                color: $teal;
            }
        }
    }
}

.navbar-brand {
    color: $text;

    &:hover {
        color: $teal;
    }
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192, 202, 245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
    outline: none;
    box-shadow: none;
}

img {
    border: solid 3px $highlight;
}

.red {
    color: $red;
}

.blue {
    color: $blue;
}

.yellow {
    color: $yellow;
}

.purple {
    color: $purple;
}

.orange {
    color: $orange;
}

.green {
    color: $green;
}

.teal {
    color: $teal;
}

.grey {
    color: $grey;
}

.cyan {
    color: $cyan;
}

.white {
    color: $white;
}

#return-link {
    color: $text;
    text-decoration: none;

    &:hover {
        color: $teal
    }
}

@media screen and (max-width: 500px) {
    header {
        background-attachment: unset;
    }
}