@use "variables" as *;
@use "./base.scss";
@use "./grid.scss";
@use "./animations.scss";

body,
html {
    background: $background;
    font-family: 'meslolgs_nfregular';
    color: $text;
}

main {
    min-height: 80vh;
    padding: 1rem;
}

footer {
    width: 100vw;
    margin-top: auto;
}

a {
    color: $text;
    text-decoration: none;

    &:hover {
        color: $text;
    }
}

.img-fluid {
    margin: 0.5rem;
}

#title-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

#plaque {
    background-color: $background;
    border: solid 5px $blue;
    padding: 1rem 0;
    margin: 0 15%;
    text-align: center;

    #header {
        color: $teal;
        font-size: 40px;
    }
}

#pim-photos {
    img {
        @for $i from 1 through 12 {
            $delay: 100ms * $i;
            &:nth-child(#{$i}) {
                transition-delay: $delay;
            }
        }
    }
}


.typing-effect {
    overflow: hidden;
    border-right: 0.4em solid $green;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing-animation 1.2s steps(18, end) 1s normal both,
                blink-caret 1.2s step-end infinite;
}

@keyframes typing-animation {
    from {
        width: 0;
    }
    to {
        width: 200px;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: $teal;
    }
}

#header-text {
    color: $teal;
}

#logo {
    align-self: center;
}

@media screen and (max-width: 900px) {
    .web-icon {
        &:not(:first-child) {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 500px) {
    #work-header {
        margin-left: 5%;
        margin-right: 5%;
    }

    .mobile-hide {
        display: none;
    }

    #plaque {
        margin-left: unset;
        margin-right: unset;
        text-align: center;
    }
}