@use "variables" as *;
@use "./base.scss";
@use "./grid.scss";
@use "./animations.scss";

body,
html {
    background: $background;
    font-family: 'meslolgs_nfregular';
    color: $text;
}

main {
    min-height: 80vh;
}

footer {
    width: 100vw;
    margin-top: auto;
}

// img {
//     border: solid 7px $highlight;
//     border-radius: 5px;
// }

a {
    color: $text;
    text-decoration: none;

    &:hover {
        color: $text;
    }
}


#title-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

#plaque {
    background-color: $background;
    border: solid 5px $blue;
    padding: 1rem 0;
    margin: 0 15%;
    text-align: center;

    #header {
        color: $teal;
        font-size: 40px;
    }
}

.typing-effect {
    overflow: hidden;
    border-right: 0.4em solid $green;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing-animation 1.2s steps(18, end) 1s normal both,
                blink-caret 1.2s step-end infinite;
}

@keyframes typing-animation {
    from {
        width: 0;
    }
    to {
        width: 200px;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: $teal;
    }
}

#header-text {
    color: $teal;
}

#logo {
    align-self: center;
}

#group-photo {
    display: block;
    border: solid 1px;
}


.web-icon {
    text-align: center;

    i {
        font-size: 70px;
    }

    .fa-facebook {
        color: $blue;
    }

    .fa-instagram {
        color: $red;
    }

    .card {
        background-color: $background-light;
        border-radius: 5px;
        padding: 20px;

        &:hover {
            background-color: darken($background-light, 1%);
        }
    }
}

.caption {
    font-size: 20px;
    display: block;
}

#return-link {
    margin-right: 10px;
    color: $text;
    text-decoration: none;

    &:hover {
        color: $teal
    }
}

@media screen and (max-width: 900px) {
    .web-icon {
        &:not(:first-child) {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 500px) {
    #work-header {
        margin-left: 5%;
        margin-right: 5%;
    }

    #plaque {
        margin-left: unset;
        margin-right: unset;
        text-align: center;
    }
}