@use "variables" as *;
@import "../bootstrap/scss/functions";

$accordion-border-color: $highlight;
$accordion-border-width: 5px;
$accordion-bg: $background;
$accordion-color: $text;
$accordion-button-active-color: $highlighted-text;
$accordion-button-active-bg: $highlight;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;

@import "../bootstrap/scss/variables";

@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/accordion";

body,
html {
    margin: 0;
    height: 100%;
    font-family: 'meslolgs_nfregular';
    background-color: $background;
    color: $text;
    #{$prefix}navbar-toggler-border-color: $text !important;
    scroll-behavior: smooth;
}

header {
    position: relative;
    background-image: url("../images/dots.png");
    background-size: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

main {
    background-color: $background;
    background-size: cover;
    padding: 1rem 0;
}

footer {
    background-color: $background-dark;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
}

a {
    text-decoration: none;
    color: $text;

    &:hover {
        color: $text;
    }
}

.red {
    color: $red;
}

.blue {
    color: $blue;
}

.yellow {
    color: $yellow;
}

.purple {
    color: $purple;
}

.orange {
    color: $orange;
}

.green {
    color: $green;
}

.teal {
    color: $teal;
}

.grey {
    color: $grey;
}

.cyan {
    color: $cyan;
}

.white {
    color: $white;
}

.header {
    margin: 2rem 0;
}

.navbar {
    background-color: $background;
    color: $text;
}

.navbar-brand {
    color: $text;

    &:hover {
        color: $teal;
    }
}

.nav-link {
    color: $text;
    margin-left: 5px;
    margin-right: 5px;

    &:hover {
        color: $teal;
    }

    &.active {
        color: $text !important;
        border-bottom: solid 2px $purple;
    }
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192, 202, 245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
    outline: none;
    box-shadow: none;
}

.highlight {
    color: $highlighted-text;
    background-color: $highlight;
    border: solid 1px $highlight;
    border-radius: 5px;
}

.outlined-block {
    background-color: $background;
    border: solid 5px $blue;
}

.typing-effect {
    overflow: hidden;
    border-right: 0.4em solid $green;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing-animation 2s steps(22, end) 1s normal both,
                blink-caret 1.2s step-end infinite;
}

.greeter-block {
    margin: 1rem;
}

@keyframes typing-animation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: $green;
    }
}

.landing-page-greeter {
    padding: 1.6rem;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#welcome-sign {
    padding: 2vw 5vw;
    h1 {
        font-size: 2rem;
    }
}

#landing-page-photo {
    margin: 1rem;
    max-width: 30vh;
    border: solid 7px $highlight;
}

#summary-info {
    max-width: 30rem;
    word-wrap: break-word;
    padding: 1rem;
}


// Projects Section

#project-display {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 70vh;
}

.project-card {
    background-color: $background-light;
    border: solid 1px $background-light;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }
    
    a {
        span {
            &:hover {
                color: $teal;
            }
        }
    }

    // Dynamically colour
    $colours: $blue, $purple, $teal, $green, $yellow, $orange, $red;
    $colourCount: length($colours);
    $index: 1;
    @for $i from 1 through 20 {
        $colour: nth($colours, $index);
        &:nth-child(#{$i}) {
            h1 {
                color: $colour;
            }
        }
        $index: ($index + 1) % $colourCount;
        @if ($index == 0) {
            $index: $colourCount;
        }
    }
}

.skills-group {
    font-size: 80px;
    margin-bottom: 30px;
}


.skill-icon {
    display: inline-block;
    text-align: center;
    padding: 20px;
    background-color: $background-light;
    border-radius: 5px;
    margin: 0.5rem;
}

.caption {
    font-size: 20px;
    display: block;
}

.shortened {
    font-size: 13px;
    padding-bottom: 10px;
}

#technologies-header {
    color: $teal;
}

#hardware-header {
    color: $blue;
}

#server-header {
    color: $purple;
}

.accordion-body {
    color: $text;
}

#timeline-header {
    margin-left: 25%;
    margin-right: 25%;
}


.findme-section {
    font-size: 70px;
}

#mail-link {
    &:hover {
        color: $text;
    }

    span {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 22px;

        &:hover {
            color: $teal
        }
    }
}


.web-icon {
    .card {
        background-color: $background-light;
        border-radius: 10px;
        padding: 20px;

        &:hover {
            background-color: darken($background-light, 1%);
        }
    }
}

#pim-photo {
    width: 80%;
    display: block;
    margin: auto;
}


#return-link {
    margin-right: 10px;
    color: $text;
    text-decoration: none;

    &:hover {
        color: $teal
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// tablet
@media screen and (max-width: 900px) {

    #project-display {
        max-height: none;
        
    }

    .landing-page-greeter {
        flex-direction: column;
    }

    #welcome-sign {
        span {
            h1 {
                font-size: 3vh;
            }
        }
    }

    #pim-photo {
        margin-top: 40px;
    }

    .web-icon {
        &:not(:first-child) {
            margin-top: 10px;
        }
    }
}

// mobile
@media screen and (max-width: 500px) {
    .scrollable {
        flex-direction: row;
    }

    #about-header {
        margin-left: 5%;
        margin-right: 5%;
    }

    #timeline-header {
        margin-left: 5%;
        margin-right: 5%;
    }

    .timeline {
        max-width: 100%;
        padding: 25px;

        .project {
            padding-top: 30px;

            &:before {
                left: 0px;
                text-align: left;
            }

            &:after {
                left: -31.8px;
            }
        }
    }
}