@use "variables" as *;
@import "../bootstrap/scss/functions";

$accordion-border-color: $highlight;
$accordion-border-width: 5px;
$accordion-bg: $background;
$accordion-color: $text;
$accordion-button-active-color: $highlighted-text;
$accordion-button-active-bg: $highlight;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;

@import "../bootstrap/scss/variables";

@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/accordion";

body,
html {
    margin: 0;
    height: 100%;
    font-family: 'meslolgs_nfregular';
    background-color: $background;
    color: $text;
    #{$prefix}navbar-toggler-border-color: $text !important;
}

header {
    position: relative;
    background-image: url("../images/dots.png");
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

main {
    background-color: $background;
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer {
    background-color: $background-dark;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
}

a {
    text-decoration: none;
    color: $text;

    &:hover {
        color: $text;
    }
}

img {
    border: solid 7px $highlight;
    border-radius: 15px;
}

.red {
    color: $red;
}

.blue {
    color: $blue;
}

.yellow {
    color: $yellow;
}

.purple {
    color: $purple;
}

.orange {
    color: $orange;
}

.green {
    color: $green;
}

.teal {
    color: $teal;
}

.grey {
    color: $grey;
}

.cyan {
    color: $cyan;
}

.white {
    color: $white;
}

.navbar {
    background-color: $background;
    color: $text;
}

.navbar-brand {
    color: $text;

    &:hover {
        color: $teal;
    }
}

.nav-link {
    color: $text;
    margin-left: 5px;
    margin-right: 5px;

    &:hover {
        color: $teal;
    }

    &.active {
        color: $text !important;
        border-bottom: solid 2px $purple;
    }
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192, 202, 245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
    outline: none;
    box-shadow: none;
}


.header {
    padding: 5px;
    color: $highlighted-text;
    background-color: $highlight;
    border: solid 3px $highlight;
    border-radius: 15px;
}

#plaque {
    position: absolute;
    top: 15%;
    background-color: $background;
    padding-top: 30px;
    padding-bottom: 20px;
    border: solid 5px $blue;
    border-radius: 15px;
}

#profile-pic {
    width: 250px;
    height: 250px;
    border: solid 7px $highlight;
    border-radius: 50%;
}

.front-page-name {
    margin-top: 15px;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 5px;
    font-size: 28px;
}

#labels {
    padding-top: 20px;
    margin-right: 30px;
    list-style: none;
    display: inline-block;
    font-size: 20px;

    li {
        $colours: $red,
        $blue,
        $green;

        $time: 1s;

        @for $i from 1 through length($colours) {
            $colour: nth($colours, $i);

            &:nth-child(#{$i}) {
                color: $colour;
                animation-name: fade;
                animation-duration: $time;
                animation-timing-function: ease;
            }

            $time: $time + 0.55;
        }
    }
}

#about-header {
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25px;
}

.buffer {
    margin-top: 70px;
}

.question-prompt {
    font-size: 48px;
}

#trophy-picture {
    width: 80%;
    display: block;
    margin: auto;
}

#languages-section {
    font-size: 80px;
    margin-bottom: 30px;
}

#what-header {
    margin-top: 100px;
    margin-bottom: 30px;
    padding-bottom: 7px;
}


.language-icon {
    display: inline-block;
    text-align: center;
    padding: 20px;
    background-color: $background-light;
    border-radius: 15px;
    margin-bottom: 10px;
}

.caption {
    font-size: 20px;
    display: block;
}

.shortened {
    font-size: 13px;
    padding-bottom: 10px;
}

#technologies-header {
    color: $teal;
}

#hardware-header {
    color: $blue;
}

#server-header {
    color: $purple;
}

.accordion-body {
    color: $text;
}

#timeline-header {
    margin-left: 25%;
    margin-right: 25%;
}

.timeline {
    border-left: 3px solid $text;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: $background;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;

    h1 {
        font-size: 24px;
    }

    h2 {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
    }

    .project {
        padding-bottom: 25px;
        margin-bottom: 25px;
        position: relative;

        &:last-of-type {
            padding-bottom: 0;
            margin-bottom: 0;
            border: none;
        }

        &:before,
        &:after {
            position: absolute;
            display: block;
            top: 0;
        }

        &:before {
            content: attr(data-date);
            text-align: left;
            font-weight: 100;
            font-size: 0.9em;
        }

        &:after {
            box-shadow: 0 0 0 3px $text;
            left: -55.8px;
            background: $background;
            border-radius: 50%;
            height: 9px;
            width: 9px;
            content: "";
            top: 5px;
        }

        $colours: $blue, $purple, $teal, $green, $yellow, $orange, $red;
        $availableColours: length($colours);
        $index: 0;
        @for $i from 1 through 20 {
            @if ($index == $availableColours) {
                $index: 0;
            }
            $index: $index + 1 % $availableColours;
            $colour : nth($colours, $index);
            &:nth-child(#{$i}) {
                h1 {
                    color: $colour;
                }
            }
        }
    }
}

.findme-section {
    font-size: 70px;
}

#mail-link {
    &:hover {
        color: $text;
    }

    span {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 22px;

        &:hover {
            color: $teal
        }
    }
}


.web-icon {
    .card {
        background-color: $background-light;
        border-radius: 10px;
        padding: 20px;

        &:hover {
            background-color: darken($background-light, 1%);
        }
    }
}

#pim-photo {
    width: 80%;
    display: block;
    margin: auto;
}


#return-link {
    margin-right: 10px;
    color: $text;
    text-decoration: none;

    &:hover {
        color: $teal
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// tablet
@media screen and (max-width: 900px) {
    #trophy-picture {
        margin-top: 40px;
    }

    #pim-photo {
        margin-top: 40px;
    }

    .web-icon {
        &:not(:first-child) {
            margin-top: 10px;
        }
    }
}

// mobile
@media screen and (max-width: 500px) {
    #about-header {
        margin-left: 5%;
        margin-right: 5%;
    }

    #timeline-header {
        margin-left: 5%;
        margin-right: 5%;
    }

    .timeline {
        max-width: 100%;
        padding: 25px;

        .project {
            padding-top: 30px;

            &:before {
                left: 0px;
                text-align: left;
            }

            &:after {
                left: -31.8px;
            }
        }
    }
}