@use "variables" as *;
@use "sass:color";
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/accordion";

body,
html {
    margin: 0;
    height: 100%;
    font-family: 'meslolgs_nfregular';
    background-color: $background;
    color: $text;
    #{$prefix}navbar-toggler-border-color: $text !important;
    scroll-behavior: smooth;
}

header {
    position: relative;
    background-image: url("../images/dots.png");
    background-size: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

main {
    background-color: $background;
    background-size: cover;
    padding: 1rem 0;
}

footer {
    background-color: $background-dark;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
}


.red {
    color: $red;
}

.blue {
    color: $blue;
}

.yellow {
    color: $yellow;
}

.purple {
    color: $purple;
}

.orange {
    color: $orange;
}

.green {
    color: $green;
}

.teal {
    color: $teal;
}

.grey {
    color: $grey;
}

.cyan {
    color: $cyan;
}

.white {
    color: $white;
}

.header {
    margin: 2rem 0;
}

.separator {
    margin: 4rem 0;
}

.section {
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.outlined-block {
    background-color: $background;
    border: solid 5px $blue;
    margin: 1rem;
}

.typing-effect {
    overflow: hidden;
    border-right: 0.4em solid $green;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing-animation 2s steps(22, end) 1s normal both,
                blink-caret 1.2s step-end infinite;
}

@keyframes typing-animation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: $green;
    }
}

.landing-page-greeter {
    padding: 1.6rem;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#welcome-sign {
    padding: 2vw 5vw;
    h1 {
        font-size: 2rem;
    }
}

#landing-page-photo {
    margin: 1rem;
    max-width: 30vh;
    border: solid 7px $highlight;
}

#summary-info {
    max-width: 30rem;
    word-wrap: break-word;
    padding: 1rem;
}

#resume-link {
    a {
        text-decoration: none;
        color: $text;
        &:hover {
            color: $teal;
        }
    }
}

@mixin communication-icon($colour) {
    font-size: 3rem;
    i {
        color: $grey;
        &:hover {
            color: $colour;
        }
    }
}

#communication-section {
    a {
        $colours: $white, $blue, $orange, $red;
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                @include communication-icon(nth($colours, $i));
            }
        }
    }
}

// Projects Section

#project-display {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 70vh;
}

.project-card {
    background-color: $background-light;
    border: solid 1px $background-light;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }
    
    a {
        color: $text;
        text-decoration: none;
        span {
            &:hover {
                color: $teal;
            }
        }
    }

    // Dynamically colour
    $colours: $blue, $purple, $teal, $green, $yellow, $orange, $red;
    $colourCount: length($colours);
    $index: 1;
    @for $i from 1 through 20 {
        $colour: nth($colours, $index);
        &:nth-child(#{$i}) {
            h1 {
                color: $colour;
            }
        }
        $index: ($index + 1) % $colourCount;
        @if ($index == 0) {
            $index: $colourCount;
        }
    }
}

.skills-group {
    font-size: 80px;
    margin-bottom: 30px;
}


.skill-icon {
    display: inline-block;
    text-align: center;
    padding: 20px;
    background-color: $background-light;
    border-radius: 5px;
    margin: 0.5rem;

    @for $i from 1 through 12 {
        $delay: 200ms * $i;
        &:nth-child(#{$i}) {
            transition-delay: $delay;
        }
    }
}

.caption {
    font-size: 20px;
    display: block;
}

// Education section
.education-location {
    text-indent: 3rem;
    h4 {
        text-indent: 6rem;
    }

    .course {
        text-indent: 9rem;
        ul {
            list-style-type: none;
        }
        p {
            text-indent: 9rem;
        }
    }
}

#return-link {
    margin-right: 10px;
    color: $text;
    text-decoration: none;

    &:hover {
        color: $teal
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}


// Breakpoints

// Tablet
@media screen and (max-width: 900px) {

    #project-display {
        max-height: none;
        
    }

    .landing-page-greeter {
        flex-direction: column;
    }

    #welcome-sign {
        span {
            h1 {
                font-size: 3vh;
            }
        }
    }
}

// Mobile
@media screen and (max-width: 500px) {
    .education-location {
        h3 {
            font-size: 1rem;
        }
        font-size: 0.75rem;
    }

}