@use "variables" as *;
@use "./base.scss";
@use "./grid.scss";
@use "./animations.scss";

body {
    overflow-y: hidden;
}

main {
    padding: 1rem 0;
}

footer {
    position: fixed;
    width: 100vw;
    bottom: 0;
}

#plaque {
    #header {
        color: $purple;
    }
}

.grid-item {
    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            .card {
                transition-delay: 100ms * $i;
            }
        }
    }
}

.card {
    h3 {
        font-size: 17px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    h4 {
        font-size: 16px;
    }
}

.typing-effect {
    animation: typing-animation 1.2s steps(18, end) 1s normal both,
                blink-caret 1.2s step-end infinite;
}

@keyframes typing-animation {
    from {
        width: 0;
    }
    to {
        width: 220px;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: $purple;
    }
}

@media screen and (max-width: 900px) {
    footer {
        position: unset;
    }
}

@media screen and (max-width: 500px) {
    #plaque {
        margin-left: unset;
        margin-right: unset;
        text-align: center;
    }

    .card {
        h2 {
            span {
                font-size: 22px;   
            }
            .shortened {
                font-size: 16px;
            }
        }
    }
}