@use "variables" as *;
@use "./base.scss";
@use "./grid.scss";
@use "./animations.scss";

body {
    overflow-y: hidden;
}

main {
    min-height: 80vh;
    margin: 1rem 0;
}

footer {
    width: 100vw;
    margin-top: auto;
}

#plaque {
    #header {
        color: $purple;
    }
}

.grid-item {
    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            .outlined-card {
                transition-delay: 100ms * $i;
            }
        }
    }
}

.outlined-card {
    padding: 1rem;
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }
}

.typing-effect {
    animation: typing-animation 1.2s steps(18, end) 1s normal both,
                blink-caret 1.2s step-end infinite;
}

@keyframes typing-animation {
    from {
        width: 0;
    }
    to {
        width: 220px;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: $purple;
    }
}

@media screen and (max-width: 900px) {
    footer {
        position: unset;
    }
}

@media screen and (max-width: 500px) {
    #plaque {
        margin-left: unset;
        margin-right: unset;
        text-align: center;
    }

    .card {
        h2 {
            span {
                font-size: 22px;   
            }
            .shortened {
                font-size: 16px;
            }
        }
    }
}