body,
html {
  background: #1a1b26;
  font-family: "meslolgs_nfregular";
  color: #c0caf5;
  margin: 0;
  height: 100%;
}

header {
  position: relative;
  background-image: url("../images/dots.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: #16161d;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  bottom: 0;
  margin-top: 30px;
  width: 100%;
}

a {
  color: #c0caf5;
  text-decoration: none;
}
a:hover {
  color: #73daca;
}

.navbar {
  background-color: #1a1b26;
  color: #c0caf5;
}

.navbar-brand {
  color: #c0caf5;
}
.navbar-brand:hover {
  color: #73daca;
}

.nav-link {
  color: #c0caf5;
  margin-left: 5px;
  margin-right: 5px;
}
.nav-link:hover {
  color: #73daca;
}
.nav-link.active {
  color: #c0caf5 !important;
  border-bottom: solid 2px #bb9af7;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192, 202, 245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
  outline: none;
  box-shadow: none;
}

#title-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

#plaque {
  background-color: #1a1b26;
  border: solid 5px #7aa2f7;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}
#plaque #header {
  color: #f0f0f0;
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 40px;
}

#header-icon {
  background-color: #303447;
  border: solid 5px #303447;
  border-radius: 15px;
  padding: 10px;
  margin-right: 20px;
}

#header-text {
  background-color: #303447;
  border: solid 1px #303447;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  font-size: 38px;
}

.grid-item {
  padding: 10px;
}
.grid-item .card {
  background-color: #20212e;
  padding: 20px;
  border: solid 3px #20212e;
  border-radius: 15px;
  align-items: left;
}
.grid-item .card h2 {
  margin-bottom: 20px;
}
.grid-item .card h2 span {
  color: #f0f0f0;
  background-color: #303447;
  border: solid 5px #303447;
  border-radius: 10px;
  font-size: 28px;
  padding-left: 5px;
  padding-right: 5px;
}
.grid-item .card h2 .shortened {
  font-size: 22px;
}
.grid-item .card h3 {
  font-size: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.grid-item .card h4 {
  font-size: 16px;
}
.grid-item .card img {
  border: solid 5px #303447;
  border-radius: 15px;
  max-width: 75%;
}
.grid-item .card a {
  margin-top: 10px;
  font-size: 20px;
}

#projects-section {
  margin-bottom: 5%;
}

#return-link {
  margin-right: 10px;
  color: #c0caf5;
  text-decoration: none;
}
#return-link:hover {
  color: #73daca;
}

@media screen and (max-width: 500px) {
  #work-header {
    margin-left: 5%;
    margin-right: 5%;
  }
  #plaque {
    margin-left: unset;
    margin-right: unset;
    text-align: center;
  }
  .grid-item .card h2 span {
    font-size: 22px;
  }
  .grid-item .card h2 .shortened {
    font-size: 16px;
  }
}

/*# sourceMappingURL=projects.css.map */
