@use "variables" as *;

body,
html {
    background: $background;
    font-family: 'meslolgs_nfregular';
    color: $text;
    margin: 0;
    height: 100%;

}

header {
    position: relative;
    background-image: url("../images/dots.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: $background-dark;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    bottom: 0;
    margin-top: 30px;
    width: 100%;
}

a {
    color: $text;
    text-decoration: none;

    &:hover {
        color: $teal
    }
}

.navbar {
    background-color: $background;
    color: $text;
}

.navbar-brand {
    color: $text;

    &:hover {
        color: $teal;
    }
}

.nav-link {
    color: $text;
    margin-left: 5px;
    margin-right: 5px;

    &:hover {
        color: $teal;
    }

    &.active {
        color: $text !important;
        border-bottom: solid 2px $purple;
    }
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192, 202, 245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
    outline: none;
    box-shadow: none;
}

#title-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

#plaque {
    background-color: $background;
    border: solid 5px $blue;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;

    #header {
        color: $highlighted-text;
        padding-top: 15px;
        padding-bottom: 5px;
        font-size: 40px;
    }
}


#header-icon {
    background-color: $highlight;
    border: solid 5px $highlight;
    border-radius: 15px;
    padding: 10px;
    margin-right: 20px;
}

#header-text {
    background-color: $highlight;
    border: solid 1px $highlight;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    font-size: 38px;
}

.grid-item {
    padding: 10px;

    .card {
        background-color: $background-light;
        padding: 20px;
        border: solid 3px $background-light;
        border-radius: 15px;
        align-items: left;

        h2 {
            margin-bottom: 20px;

            span {
                color: $highlighted-text;
                background-color: $highlight;
                border: solid 5px $highlight;
                border-radius: 10px;
                font-size: 28px;
                padding-left: 5px;
                padding-right: 5px;
            }
            .shortened {
                font-size: 22px;
            }
        }

        h3 {
            font-size: 17px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        h4 {
            font-size: 16px;
        }

        img {
            border: solid 5px $highlight;
            border-radius: 15px;
            max-width: 75%;
        }

        a {
            margin-top: 10px;
            font-size: 20px;
        }
    }
}

#projects-section {
    margin-bottom: 5%;
}

#return-link {
    margin-right: 10px;
    color: $text;
    text-decoration: none;

    &:hover {
        color: $teal
    }
}

@media screen and (max-width: 500px) {
    #work-header {
        margin-left: 5%;
        margin-right: 5%;
    }

    #plaque {
        margin-left: unset;
        margin-right: unset;
        text-align: center;
    }

    .grid-item {
        .card {
            h2 {
                span {
                    font-size: 22px;   
                }
                .shortened {
                    font-size: 16px;
                }
            }
        }
    }
}