body, html {
  margin: 0;
  height: 100%;
}

.front-page-background {
  position: relative;
  background-image: url("Images/dots.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.front-page-plaque {
  color: #c0caf5;
  background-color: #1a1b26;
}

#front-page-profile-pic {
  position: absolute;
  border: solid 5px #303447;
  border-radius: 50%;
  width: 15%;
  min-width: 15%;
}

#about-section {
  background-color: #1a1b26;
  color: #c0caf5;
}

#about-header {
  text-align: center;
  position: absolute;

}