body {
    background-image: url("Images/dots.png");
    background-color: #1a1b26;
}

#main-window {
    width: 350px;
    height: 450px;
    color: #c0caf5;
    background-color: #1a1b26;
    text-align: center;
    padding-top: 240px;
    border: solid 5px #7aa2f7;
    border-radius: 20px;
    margin-top: 100px;
}

.main-window-bio {
    position: relative;
    top: -200px;
}

#name {
    font-size: x-large;
    color: #f0f0f0 !important;
    background-color: #303447;
    border: solid 10px #303447;
    border-radius: 15px;
    width: 300px;
    position: relative;
    left: 21px;
}

#bio-list {
    font-size: large;
    padding-top: 15px;
    list-style: none;
    align-items: center;
    position: relative;
    right: 15px;
}

/* list items */

#student-label {
    color: #7aa2f7;
}

#founder-label {
    color: #f7768e;
}

#programmer-label {
    color: #9ece6a;
}


#profile-picture {
    position: relative;
    top: -220px;
    width: 220;
    height: 220px;
    border: solid 5px #303447;
    border-radius: 50%;
}

#about-container {
    padding-left: 0;
    padding-right: 0;
}

#about-section {
    background-color: #1a1b26;
    margin-top: 180px;
    padding-top: 20px;
}

#about-header {
    color: #f0f0f0;
    background-color: #303447;
    border: solid 2px #303447;
    border-radius: 15px;
    font-size: xx-large;
    width: 300px;
}  