body, html {
  margin: 0;
  height: 100%;
  font-family: 'meslolgs_nfregular';
  background-color: #1a1b26;
}

#navbar-custom {
  background-color: #1a1b26;
  color: #c0caf5;
  margin-bottom: 100px;
} 

.navbar-brand {
  color: #c0caf5;
}

.navbar-toggler-icon {
  color: #c0caf5;
}

.nav-link {
  color: #c0caf5;
}

.front-page-background {
  position: relative;
  background-image: url("Images/dots.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.front-page-plaque {
  margin-top: 100px;
  background-color: #1a1b26;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  border: solid 5px #7aa2f7;
  border-radius: 15px;
  color: #f0f0f0;
}

#front-page-profile-pic {
  width: 250px;
  height: 250px;
  border: solid 5px #303447;
  border-radius: 50%;
}

#front-page-name {
  margin-top: 15px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 5px;
  border: solid 5px #303447;
  border-radius: 15px;
  background-color: #303447;
  font-size: 34px;
}

#bio-list {
  padding-top: 20px;
  margin-right: 30px;
  list-style: none;
  display: inline-block;
  font-size: 20px;
}
#student-label {
  color: #f7768e;
}
#founder-label {
  color: #7aa2f7;
}
#programmer-label {
  color: #8efa98;
}

.about-section {
  background-color: #1a1b26;
  background-size: cover;
  color: #c0caf5;
  margin-bottom: 5000px;
}

#about-header {
  color: #f0f0f0;
  position: relative;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  background: #303447;
  border: solid 3px #303447;
  border-radius: 15px;
}