---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();

import style from "./markdown.module.css";
---

<head>
  <meta charset="UTF-8"/>
  <title>{post.data.title}</title>
</head>
<Layout>
    <div class="w-full lg:w-1/2 m-auto pt-5 pb-5 pl-2 pr-2">
      <a href="/blog">Back</a>
      <article class={`pt-5 pb-5 ${style.markdown}`}>
        <h1 class="text-xl mb-5">{post.data.title}</h1>
        <p class="italic mb-5 text-muted-white font-display">{post.data.createdOn}</p>
        <Content />
      </article>
    </div>
</Layout>