.navbar {
    background-color: theme("colors.grey.normal");
    color: theme("colors.white");
    
    background-size: 80px 80px;
    background-image: 
        linear-gradient(to right, #22262E 1px, transparent 1px)
}