@font-face {
  font-family: "meslolgs_nfitalic";
  src: url("../fonts/meslolgs_nf_italic-webfont.woff2") format("woff2"), url("../fonts/meslolgs_nf_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "meslolgs_nfregular";
  src: url("../fonts/meslolgs_nf_regular-webfont.woff2") format("woff2"), url("../fonts/meslolgs_nf_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "meslolgs_nfbold";
  src: url("../fonts/meslolgs_nf_bold-webfont.woff2") format("woff2"), url("../fonts/meslolgs_nf_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "meslolgs_nfbold_italic";
  src: url("../fonts/meslolgs_nf_bold_italic-webfont.woff2") format("woff2"), url("../fonts/meslolgs_nf_bold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body,
html {
  font-family: "meslolgs_nfregular";
  background-color: #222331;
  color: rgba(240, 240, 240, 0.9411764706);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(93, 93, 93, 0.3490196078);
  border: 1px;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4c4c4c;
}

footer {
  background-color: #16161d;
  border-top: solid 3px #7aa2f7;
  width: 100vw;
  height: fit-content;
  margin-top: auto;
  padding: 0.5rem;
  text-align: center;
}

a {
  text-decoration: underline;
  color: rgba(240, 240, 240, 0.9411764706);
}
a:hover {
  color: #ff5500;
}

img {
  border: solid 3px #303447;
}

.muted {
  color: #9aa5ce;
}
.muted * {
  color: #9aa5ce;
}

.navbar {
  background-color: #222331;
  color: rgba(240, 240, 240, 0.9411764706);
}
.navbar .nav-link {
  color: rgba(240, 240, 240, 0.9411764706);
  margin-left: 5px;
  margin-right: 5px;
  transition: none;
}
.navbar .nav-link.active {
  color: rgba(240, 240, 240, 0.9411764706);
  border-bottom: solid 1px #ff5500;
}
.navbar .nav-link:hover {
  color: #ff5500;
}

.navbar-brand {
  color: rgba(240, 240, 240, 0.9411764706);
}
.navbar-brand:hover {
  color: #ff5500;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192, 202, 245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
  outline: none;
  box-shadow: none;
}

.red {
  color: #f7768e;
}

.blue {
  color: #7aa2f7;
}

.yellow {
  color: #e0af68;
}

.purple {
  color: #bb9af7;
}

.orange {
  color: #ff9e64;
}

.bright-orange {
  color: #ff5500;
}

.green {
  color: #9ece6a;
}

.teal {
  color: #73daca;
}

.grey {
  color: #9aa5ce;
}

.cyan {
  color: #7dcfff;
}

.white {
  color: #f0f0f0;
}

@media screen and (max-width: 1000px) {
  .navbar .nav-link.active {
    border-bottom: unset;
    border-left: solid 1px #ff5500;
    padding-left: 5px;
  }
  .navbar .nav-link:hover {
    color: #ff5500;
  }
}
.hidden-fade {
  opacity: 0;
  transition: all 1s;
  transform: translateY(5vh);
}

@keyframes static-hidden-fade {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.static-hidden-fade {
  opacity: 0;
  animation: static-hidden-fade 1s;
  animation-fill-mode: forwards;
}

.show-fade {
  opacity: 1;
}

.hidden-slide {
  opacity: 0;
  transition: all 1s;
  transform: translateX(100%);
}

.show-slide {
  opacity: 1;
  transform: translateX(0);
}

@keyframes static-hidden-slide {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.static-hidden-slide {
  opacity: 0;
  animation: static-hidden-slide 1s;
  animation-fill-mode: forwards;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("/assets/images/dots.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #222331;
  padding: 25px 0;
}

section {
  min-height: 100vh;
  align-items: center;
}

.hero-card {
  background-color: #222331;
  border: solid 3px #7aa2f7;
  margin: 1rem;
}

#welcome-sign {
  padding: 1vw 5vw;
}
#welcome-sign h1 {
  font-size: 2rem;
}

#greeter-profile {
  display: flex;
  align-items: center;
}

#landing-page-photo {
  margin: 2rem;
  width: 300px;
}

#summary-info {
  max-width: 30rem;
  word-wrap: break-word;
  padding: 1rem;
}

.question-prompt {
  font-size: 3rem;
}

.skills-group {
  font-size: 5rem;
}

.skill-icon {
  background-color: #1d1e29;
  border: solid 3px #1d1e29;
  display: inline-block;
  text-align: center;
  padding: 20px;
  margin: 0.3rem;
}
.skill-icon:nth-child(1) {
  transition-delay: 75ms;
}
.skill-icon:nth-child(2) {
  transition-delay: 150ms;
}
.skill-icon:nth-child(3) {
  transition-delay: 225ms;
}
.skill-icon:nth-child(4) {
  transition-delay: 300ms;
}
.skill-icon:nth-child(5) {
  transition-delay: 375ms;
}
.skill-icon:nth-child(6) {
  transition-delay: 450ms;
}
.skill-icon:nth-child(7) {
  transition-delay: 525ms;
}
.skill-icon:nth-child(8) {
  transition-delay: 600ms;
}
.skill-icon:nth-child(9) {
  transition-delay: 675ms;
}
.skill-icon:nth-child(10) {
  transition-delay: 750ms;
}
.skill-icon:nth-child(11) {
  transition-delay: 825ms;
}
.skill-icon:nth-child(12) {
  transition-delay: 900ms;
}

.caption {
  font-size: 20px;
  display: block;
}

.small-caption {
  margin-top: 5px;
  font-size: 15px;
  display: block;
}

.shortened {
  font-size: 13px;
  padding-bottom: 10px;
}

#project-display {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  max-height: 70vh;
}

.project-card {
  background-color: #1d1e29;
  border: solid 3px #1d1e29;
  padding: 1rem;
  margin: 0.3em;
}
.project-card .title {
  font-size: 1.5rem;
}
.project-card h3 {
  font-size: 1rem;
}
.project-card:nth-child(1) .title {
  color: #7aa2f7;
}
.project-card:nth-child(2) .title {
  color: #bb9af7;
}
.project-card:nth-child(3) .title {
  color: #73daca;
}
.project-card:nth-child(4) .title {
  color: #9ece6a;
}
.project-card:nth-child(5) .title {
  color: #e0af68;
}
.project-card:nth-child(6) .title {
  color: #ff9e64;
}
.project-card:nth-child(7) .title {
  color: #f7768e;
}
.project-card:nth-child(8) .title {
  color: #7aa2f7;
}
.project-card:nth-child(9) .title {
  color: #bb9af7;
}
.project-card:nth-child(10) .title {
  color: #73daca;
}
.project-card:nth-child(11) .title {
  color: #9ece6a;
}
.project-card:nth-child(12) .title {
  color: #e0af68;
}
.project-card:nth-child(13) .title {
  color: #ff9e64;
}
.project-card:nth-child(14) .title {
  color: #f7768e;
}
.project-card:nth-child(15) .title {
  color: #7aa2f7;
}
.project-card:nth-child(16) .title {
  color: #bb9af7;
}
.project-card:nth-child(17) .title {
  color: #73daca;
}
.project-card:nth-child(18) .title {
  color: #9ece6a;
}
.project-card:nth-child(19) .title {
  color: #e0af68;
}
.project-card:nth-child(20) .title {
  color: #ff9e64;
}
.project-card:nth-child(1) {
  transition-delay: 100ms;
}
.project-card:nth-child(2) {
  transition-delay: 200ms;
}
.project-card:nth-child(3) {
  transition-delay: 300ms;
}
.project-card:nth-child(4) {
  transition-delay: 400ms;
}
.project-card:nth-child(5) {
  transition-delay: 500ms;
}
.project-card:nth-child(6) {
  transition-delay: 600ms;
}
.project-card:nth-child(7) {
  transition-delay: 700ms;
}
.project-card:nth-child(8) {
  transition-delay: 800ms;
}
.project-card:nth-child(9) {
  transition-delay: 900ms;
}
.project-card:nth-child(10) {
  transition-delay: 1000ms;
}
.project-card:nth-child(11) {
  transition-delay: 1100ms;
}
.project-card:nth-child(12) {
  transition-delay: 1200ms;
}

.findme-section {
  font-size: 70px;
  display: flex;
  justify-content: center;
}
.findme-section a {
  margin: 0 1rem;
}
.findme-section a:hover {
  color: rgba(240, 240, 240, 0.9411764706);
}
.findme-section a:hover .fa-linkedin {
  color: #7aa2f7;
}
.findme-section a:hover .fa-github {
  color: #a1a1a1;
}
.findme-section a:nth-child(1) {
  transition-delay: 100ms;
}
.findme-section a:nth-child(2) {
  transition-delay: 200ms;
}
.findme-section a:nth-child(3) {
  transition-delay: 300ms;
}
.findme-section a:nth-child(4) {
  transition-delay: 400ms;
}
.findme-section a:nth-child(5) {
  transition-delay: 500ms;
}
.findme-section a:nth-child(6) {
  transition-delay: 600ms;
}
.findme-section a:nth-child(7) {
  transition-delay: 700ms;
}
.findme-section a:nth-child(8) {
  transition-delay: 800ms;
}
.findme-section a:nth-child(9) {
  transition-delay: 900ms;
}
.findme-section a:nth-child(10) {
  transition-delay: 1000ms;
}
.findme-section a:nth-child(11) {
  transition-delay: 1100ms;
}
.findme-section a:nth-child(12) {
  transition-delay: 1200ms;
}

#mail-link {
  margin-top: 1rem;
}

@media screen and (max-width: 1000px) {
  #hero {
    flex-direction: column;
  }
  #greeter-profile {
    flex-direction: column;
  }
  #project-display {
    max-height: none;
  }
  .web-icon:not(:first-child) {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  header {
    background-attachment: scroll;
    height: fit-content;
  }
  #hero {
    height: fit-content;
  }
}

/*# sourceMappingURL=index.css.map */
