@font-face {
  font-family: "meslolgs_nfitalic";
  src: url("../fonts/meslolgs_nf_italic-webfont.woff2") format("woff2"), url("../fonts/meslolgs_nf_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "meslolgs_nfregular";
  src: url("../fonts/meslolgs_nf_regular-webfont.woff2") format("woff2"), url("../fonts/meslolgs_nf_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "meslolgs_nfbold";
  src: url("../fonts/meslolgs_nf_bold-webfont.woff2") format("woff2"), url("../fonts/meslolgs_nf_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "meslolgs_nfbold_italic";
  src: url("../fonts/meslolgs_nf_bold_italic-webfont.woff2") format("woff2"), url("../fonts/meslolgs_nf_bold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body,
html {
  font-family: "meslolgs_nfregular";
  background-color: #222331;
  color: rgba(240, 240, 240, 0.9411764706);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(93, 93, 93, 0.3490196078);
  border: 1px;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4c4c4c;
}

footer {
  background-color: #16161d;
  border-top: solid 3px #7aa2f7;
  width: 100vw;
  height: fit-content;
  margin-top: auto;
  padding: 0.5rem;
  text-align: center;
}

a {
  text-decoration: underline;
  color: rgba(240, 240, 240, 0.9411764706);
}
a:hover {
  color: #ff5500;
}

img {
  border: solid 3px #303447;
}

.muted {
  color: #9aa5ce;
}
.muted * {
  color: #9aa5ce;
}

.navbar {
  background-color: #222331;
  color: rgba(240, 240, 240, 0.9411764706);
}
.navbar .nav-link {
  color: rgba(240, 240, 240, 0.9411764706);
  margin-left: 5px;
  margin-right: 5px;
  transition: none;
}
.navbar .nav-link.active {
  color: rgba(240, 240, 240, 0.9411764706);
  border-bottom: solid 1px #ff5500;
}
.navbar .nav-link:hover {
  color: #ff5500;
}

.navbar-brand {
  color: rgba(240, 240, 240, 0.9411764706);
}
.navbar-brand:hover {
  color: #ff5500;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192, 202, 245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
  outline: none;
  box-shadow: none;
}

.red {
  color: #f7768e;
}

.blue {
  color: #7aa2f7;
}

.yellow {
  color: #e0af68;
}

.purple {
  color: #bb9af7;
}

.orange {
  color: #ff9e64;
}

.bright-orange {
  color: #ff5500;
}

.green {
  color: #9ece6a;
}

.teal {
  color: #73daca;
}

.grey {
  color: #9aa5ce;
}

.cyan {
  color: #7dcfff;
}

.white {
  color: #f0f0f0;
}

@media screen and (max-width: 1000px) {
  .navbar .nav-link.active {
    border-bottom: unset;
    border-left: solid 1px #ff5500;
    padding-left: 5px;
  }
  .navbar .nav-link:hover {
    color: #ff5500;
  }
}
.hidden-fade {
  opacity: 0;
  transition: all 1s;
  transform: translateY(5vh);
}

@keyframes static-hidden-fade {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.static-hidden-fade {
  opacity: 0;
  animation: static-hidden-fade 1s;
  animation-fill-mode: forwards;
}

.show-fade {
  opacity: 1;
}

.hidden-slide {
  opacity: 0;
  transition: all 1s;
  transform: translateX(100%);
}

.show-slide {
  opacity: 1;
  transform: translateX(0);
}

@keyframes static-hidden-slide {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.static-hidden-slide {
  opacity: 0;
  animation: static-hidden-slide 1s;
  animation-fill-mode: forwards;
}

body {
  overflow-y: hidden;
}

main {
  min-height: 80vh;
  margin: 1rem 0;
}

.grid-item {
  display: flex;
}
.grid-item:nth-child(1) .card-item {
  animation-delay: 150ms;
}
.grid-item:nth-child(1) .card-item h2 {
  color: #7aa2f7;
}
.grid-item:nth-child(2) .card-item {
  animation-delay: 300ms;
}
.grid-item:nth-child(2) .card-item h2 {
  color: #bb9af7;
}
.grid-item:nth-child(3) .card-item {
  animation-delay: 450ms;
}
.grid-item:nth-child(3) .card-item h2 {
  color: #73daca;
}
.grid-item:nth-child(4) .card-item {
  animation-delay: 600ms;
}
.grid-item:nth-child(4) .card-item h2 {
  color: #9ece6a;
}
.grid-item:nth-child(5) .card-item {
  animation-delay: 750ms;
}
.grid-item:nth-child(5) .card-item h2 {
  color: #e0af68;
}
.grid-item:nth-child(6) .card-item {
  animation-delay: 900ms;
}
.grid-item:nth-child(6) .card-item h2 {
  color: #ff9e64;
}
.grid-item:nth-child(7) .card-item {
  animation-delay: 1050ms;
}
.grid-item:nth-child(7) .card-item h2 {
  color: #f7768e;
}
.grid-item:nth-child(8) .card-item {
  animation-delay: 1200ms;
}
.grid-item:nth-child(8) .card-item h2 {
  color: #7aa2f7;
}
.grid-item:nth-child(9) .card-item {
  animation-delay: 1350ms;
}
.grid-item:nth-child(9) .card-item h2 {
  color: #bb9af7;
}
.grid-item:nth-child(10) .card-item {
  animation-delay: 1500ms;
}
.grid-item:nth-child(10) .card-item h2 {
  color: #73daca;
}
.grid-item:nth-child(11) .card-item {
  animation-delay: 1650ms;
}
.grid-item:nth-child(11) .card-item h2 {
  color: #9ece6a;
}
.grid-item:nth-child(12) .card-item {
  animation-delay: 1800ms;
}
.grid-item:nth-child(12) .card-item h2 {
  color: #e0af68;
}
.grid-item:nth-child(13) .card-item {
  animation-delay: 1950ms;
}
.grid-item:nth-child(13) .card-item h2 {
  color: #ff9e64;
}
.grid-item:nth-child(14) .card-item {
  animation-delay: 2100ms;
}
.grid-item:nth-child(14) .card-item h2 {
  color: #f7768e;
}
.grid-item:nth-child(15) .card-item {
  animation-delay: 2250ms;
}
.grid-item:nth-child(15) .card-item h2 {
  color: #7aa2f7;
}
.grid-item:nth-child(16) .card-item {
  animation-delay: 2400ms;
}
.grid-item:nth-child(16) .card-item h2 {
  color: #bb9af7;
}
.grid-item:nth-child(17) .card-item {
  animation-delay: 2550ms;
}
.grid-item:nth-child(17) .card-item h2 {
  color: #73daca;
}
.grid-item:nth-child(18) .card-item {
  animation-delay: 2700ms;
}
.grid-item:nth-child(18) .card-item h2 {
  color: #9ece6a;
}
.grid-item:nth-child(19) .card-item {
  animation-delay: 2850ms;
}
.grid-item:nth-child(19) .card-item h2 {
  color: #e0af68;
}
.grid-item:nth-child(20) .card-item {
  animation-delay: 3000ms;
}
.grid-item:nth-child(20) .card-item h2 {
  color: #ff9e64;
}
.grid-item .card-item {
  background-color: #1d1e29;
  border: solid 3px #1d1e29;
  padding: 10px;
}
.grid-item .card-item h2 {
  margin-bottom: 20px;
}
.grid-item .card-item h2 .shortened {
  font-size: 22px;
}

.card-item {
  padding: 1rem;
}
.card-item h2 {
  font-size: 1.5rem;
}
.card-item h3 {
  font-size: 1rem;
}
.card-item p {
  font-size: 1rem;
}

@media screen and (max-width: 1000px) {
  footer {
    position: unset;
  }
}
@media screen and (max-width: 500px) {
  #plaque {
    margin-left: unset;
    margin-right: unset;
    text-align: center;
  }
  .card h2 span {
    font-size: 22px;
  }
  .card h2 .shortened {
    font-size: 16px;
  }
}

/*# sourceMappingURL=projects.css.map */
