@use "./variables.scss" as *;
@use "./base.scss" as *;
@use "./grid.scss";
@use "./animations.scss";

body,
html {
    background: $background;
    font-family: 'meslolgs_nfregular';
    color: $text;
}

main {
    min-height: 80vh;
    margin: 1rem 0;
}

footer {
    width: 100vw;
    margin-top: auto;
}

em {
    color: $grey;
}

#plaque {
    background-color: $background;
    border: solid 5px $blue;
    padding: 1rem 0;
    margin: 0 15%;
    text-align: center;

    #header {
        color: $orange;
        font-size: 40px;
    }
}

#title-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.typing-effect {
    animation: typing-animation 0.5s steps(7, end) 1s normal both,
                blink-caret 1.2s step-end infinite;
}

#articles {
	display: flex;
	flex-direction: column;
	justify-content: left;
	gap: 1rem;
}

$colours: $blue, $purple, $teal, $green, $yellow, $orange, $red;
$colourCount: length($colours);
$index: 1;
@for $i from 1 through 20 {
	$colour: nth($colours, $index);
	.article {
		&:nth-child(#{$i}) {
			animation-delay: 100ms * $i;
			h3 {
				color: $colour;
			}
		}
	}
	$index: ($index + 1) % $colourCount;
	@if ($index == 0) {
		$index: $colourCount;
	}
}

.article {
	@include card;
	padding: 1rem;
    margin: 0.5rem;
	h3 {
		font-size: 1.25rem;
	}
	h4 {
		font-size: 1rem;
	}

}

@keyframes typing-animation {
    from {
        width: 0;
    }
    to {
        width: 140px;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: $orange;
    }
}