@use "./variables.scss" as *;
html, body {
	background: #1a1b26;
	color: #c0caf5;
	font-family: 'meslolgs_nfregular';
	margin: 0;
}

#error-page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 5rem;
	margin: 0;
}

h2 {
	font-size: 1.3rem;
}