@use "variables" as *;
@use "./base.scss" as *;
@use "./animations.scss";
@use "sass:color";

header {
    height: 100vh;
}

main {
    background-color: $background;
    padding: 25px 0;
}

section {
    min-height: 100vh;
    align-items: center;
}

// Greeting page

.outlined-block {
    background-color: $background;
    border: solid 3px $blue;
    margin: 1rem;
}

#greeter {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome-sign {
    padding: 2vw 5vw;
    h1 {
        font-size: 2rem;
    }
}

#greeter-profile {
    display: flex;
    align-items: center;
}

#landing-page-photo {
    margin: 2rem;
    max-width: 35vh;
    align-self: center;
}

#summary-info {
    max-width: 30rem;
    word-wrap: break-word;
    padding: 1rem;
}

.question-prompt {
    font-size: 48px;
}

// Who section

// #trophy-picture {
//     width: 80%;
//     display: block;
//     margin: auto;
// }

// What section

.skills-group {
    font-size: 5rem;
}

.skill-icon {
    @include card;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 0.5rem;

    @for $i from 1 through 8 {
        $delay: 200ms * $i;
        &:nth-child(#{$i}) {
            transition-delay: $delay;
        }
    }
}

.caption {
    font-size: 20px;
    display: block;
}

.small-caption {
    margin-top: 5px;
    font-size: 15px;
    display: block;
}

.shortened {
    font-size: 13px;
    padding-bottom: 10px;
}

// When section

#project-display {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    max-height: 70vh;
}

.project-card {
    @include card;
    padding: 1rem;
    margin: 0.5rem;

    .title {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }
    
    a {
        color: $text;
        text-decoration: none;
        &:hover {
            color: $teal;
        }
    }

    // Dynamically colour
    $colours: $blue, $purple, $teal, $green, $yellow, $orange, $red;
    $colourCount: length($colours);
    $index: 1;
    @for $i from 1 through 20 {
        $colour: nth($colours, $index);
        &:nth-child(#{$i}) {
            .title {
                color: $colour;
            }
        }
        $index: ($index + 1) % $colourCount;
        @if ($index == 0) {
            $index: $colourCount;
        }
    }

    @for $i from 1 through 12 {
        $delay: 100ms * $i;
        &:nth-child(#{$i}) {
            transition-delay: $delay;
        }
    }
}

// Where section

.findme-section {
    font-size: 70px;
    display: flex;
    justify-content: center;
    a {
        margin: 0 1rem;
        &:hover {
            color: $text;
            .fa-linkedin {
                color: $blue;
            }

            .fa-github {
                color: $white;
            }
        }

        @for $i from 1 through 12 {
            $delay: 100ms * $i;
            &:nth-child(#{$i}) {
                transition-delay: $delay;
            }
        }
    }
}


#mail-link {
    margin-top: 1rem;
}

// why section

#pim-photo {
    width: 80%;
    display: block;
    margin: auto;
}

// tablet
@media screen and (max-width: 1000px) {
    #greeter {
        flex-direction: column;
    }

    #greeter-profile {
        flex-direction: column;
    }

    #project-display {
        max-height: none;
    }
    
    #pim-photo {
        margin-top: 40px;
    }

    .web-icon {
        &:not(:first-child) {
            margin-top: 10px;
        }
    }
}

// mobile
@media screen and (max-width: 500px) {
    header {
        height: fit-content;
    }

    #greeter {
        height: fit-content;
    }
}