body,
html {
  font-family: "meslolgs_nfregular";
  background-color: #1a1b26;
  color: #c0caf5;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  position: relative;
  background-image: url("../images/dots.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: #16161d;
  border-top: solid 3px #7aa2f7;
  height: fit-content;
  text-align: center;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #c0caf5;
}

img {
  border: solid 3px #303447;
}

.link {
  text-decoration: underline;
}
.link:hover {
  color: #73daca;
}

.muted {
  color: #9aa5ce;
}
.muted * {
  color: #9aa5ce;
}

.navbar {
  background-color: #1a1b26;
  color: #c0caf5;
}
.navbar .nav-link {
  color: #c0caf5;
  margin-left: 5px;
  margin-right: 5px;
  transition: none;
}
.navbar .nav-link:hover {
  color: #73daca;
}
.navbar .nav-link.active {
  color: #c0caf5;
  border-bottom: solid 2px #bb9af7;
}
.navbar .nav-link.active:hover {
  color: #73daca;
}

.navbar-brand {
  color: #c0caf5;
}
.navbar-brand:hover {
  color: #73daca;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192, 202, 245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
  outline: none;
  box-shadow: none;
}

.red {
  color: #f7768e;
}

.blue {
  color: #7aa2f7;
}

.yellow {
  color: #e0af68;
}

.purple {
  color: #bb9af7;
}

.orange {
  color: #ff9e64;
}

.green {
  color: #9ece6a;
}

.teal {
  color: #73daca;
}

.grey {
  color: #9aa5ce;
}

.cyan {
  color: #7dcfff;
}

.white {
  color: #f0f0f0;
}

@media screen and (max-width: 900px) {
  .nav-link.active {
    color: #73daca !important;
    border: none !important;
  }
}
@media screen and (max-width: 500px) {
  header {
    background-attachment: unset;
  }
}
.hidden-fade {
  opacity: 0;
  transition: all 1s;
  transform: translateY(5vh);
}

@keyframes static-hidden-fade {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.static-hidden-fade {
  opacity: 0;
  animation: static-hidden-fade 1s;
  animation-fill-mode: forwards;
}

.show-fade {
  opacity: 1;
}

.hidden-slide {
  opacity: 0;
  transition: all 1s;
  transform: translateX(100%);
}

.show-slide {
  opacity: 1;
  transform: translateX(0);
}

@keyframes static-hidden-slide {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.static-hidden-slide {
  opacity: 0;
  animation: static-hidden-slide 1s;
  animation-fill-mode: forwards;
}

.typing-effect {
  overflow: hidden;
  border-right: 0.4em solid #9ece6a;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing-animation 2s steps(22, end) 1s normal both, blink-caret 1.2s step-end infinite;
}

@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #9ece6a;
  }
}
body,
html {
  background: #1a1b26;
  font-family: "meslolgs_nfregular";
  color: #c0caf5;
}

main {
  min-height: 80vh;
  padding: 1rem;
}

footer {
  width: 100vw;
  margin-top: auto;
}

.img-fluid {
  margin: 0.5rem;
}

#title-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

#plaque {
  background-color: #1a1b26;
  border: solid 5px #7aa2f7;
  padding: 1rem 0;
  margin: 0 15%;
  text-align: center;
}
#plaque #header {
  color: #73daca;
  font-size: 40px;
}

#pim-photos img:nth-child(1) {
  animation-delay: 100ms;
}
#pim-photos img:nth-child(2) {
  animation-delay: 200ms;
}
#pim-photos img:nth-child(3) {
  animation-delay: 300ms;
}
#pim-photos img:nth-child(4) {
  animation-delay: 400ms;
}
#pim-photos img:nth-child(5) {
  animation-delay: 500ms;
}

.typing-effect {
  animation: typing-animation 1.2s steps(12, end) 1s normal both, blink-caret 1.2s step-end infinite;
}

@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 190px;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #73daca;
  }
}
#header-text {
  color: #73daca;
}

#logo {
  align-self: center;
}

@media screen and (max-width: 900px) {
  .web-icon:not(:first-child) {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  #work-header {
    margin-left: 5%;
    margin-right: 5%;
  }
  .mobile-hide {
    display: none;
  }
  #plaque {
    margin-left: unset;
    margin-right: unset;
    text-align: center;
  }
}

/*# sourceMappingURL=charity.css.map */
