body,
html {
  font-family: "meslolgs_nfregular";
  background-color: #1a1b26;
  color: #c0caf5;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  position: relative;
  background-image: url("../images/dots.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: #16161d;
  border-top: solid 3px #7aa2f7;
  height: fit-content;
  text-align: center;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #c0caf5;
}

.link {
  text-decoration: underline;
}
.link:hover {
  color: #73daca;
}

.navbar {
  background-color: #1a1b26;
  color: #c0caf5;
}
.navbar .nav-link {
  color: #c0caf5;
  margin-left: 5px;
  margin-right: 5px;
  transition: none;
}
.navbar .nav-link:hover {
  color: #73daca;
}
.navbar .nav-link.active {
  color: #c0caf5;
  border-bottom: solid 2px #bb9af7;
}
.navbar .nav-link.active:hover {
  color: #73daca;
}

.navbar-brand {
  color: #c0caf5;
}
.navbar-brand:hover {
  color: #73daca;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192, 202, 245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
  outline: none;
  box-shadow: none;
}

img {
  border: solid 3px #303447;
}

.red {
  color: #f7768e;
}

.blue {
  color: #7aa2f7;
}

.yellow {
  color: #e0af68;
}

.purple {
  color: #bb9af7;
}

.orange {
  color: #ff9e64;
}

.green {
  color: #9ece6a;
}

.teal {
  color: #73daca;
}

.grey {
  color: #9aa5ce;
}

.cyan {
  color: #7dcfff;
}

.white {
  color: #f0f0f0;
}

@media screen and (max-width: 900px) {
  .nav-link.active {
    color: #73daca !important;
    border: none !important;
  }
}
@media screen and (max-width: 500px) {
  header {
    background-attachment: unset;
  }
}
.hidden-fade {
  opacity: 0;
  transition: all 1s;
  transform: translateY(5vh);
}

@keyframes static-hidden-fade {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.static-hidden-fade {
  opacity: 0;
  animation: static-hidden-fade 1s;
  animation-fill-mode: forwards;
}

.show-fade {
  opacity: 1;
}

.hidden-slide {
  opacity: 0;
  transition: all 1s;
  transform: translateX(100%);
}

.show-slide {
  opacity: 1;
  transform: translateX(0);
}

.typing-effect {
  overflow: hidden;
  border-right: 0.4em solid #9ece6a;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing-animation 2s steps(22, end) 1s normal both, blink-caret 1.2s step-end infinite;
}

@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #9ece6a;
  }
}
header {
  height: 100vh;
}

main {
  background-color: #1a1b26;
  background-size: cover;
  padding: 25px 0;
}

section {
  min-height: 100vh;
  align-items: center;
}

.outlined-block {
  background-color: #1a1b26;
  border: solid 3px #7aa2f7;
  margin: 1rem;
}

#greeter {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#welcome-sign {
  padding: 2vw 5vw;
}
#welcome-sign h1 {
  font-size: 2rem;
}

#greeter-profile {
  display: flex;
  align-items: center;
}

#landing-page-photo {
  margin: 2rem;
  max-width: 35vh;
  align-self: center;
}

#summary-info {
  max-width: 30rem;
  word-wrap: break-word;
  padding: 1rem;
}

.question-prompt {
  font-size: 48px;
}

#trophy-picture {
  width: 80%;
  display: block;
  margin: auto;
}

.skills-group {
  font-size: 5rem;
}

.skill-icon {
  background-color: #20212e;
  border: solid 3px #20212e;
  display: inline-block;
  text-align: center;
  padding: 20px;
  margin: 0.5rem;
}
.skill-icon:nth-child(1) {
  transition-delay: 200ms;
}
.skill-icon:nth-child(2) {
  transition-delay: 400ms;
}
.skill-icon:nth-child(3) {
  transition-delay: 600ms;
}
.skill-icon:nth-child(4) {
  transition-delay: 800ms;
}
.skill-icon:nth-child(5) {
  transition-delay: 1000ms;
}
.skill-icon:nth-child(6) {
  transition-delay: 1200ms;
}
.skill-icon:nth-child(7) {
  transition-delay: 1400ms;
}
.skill-icon:nth-child(8) {
  transition-delay: 1600ms;
}

.caption {
  font-size: 20px;
  display: block;
}

.shortened {
  font-size: 13px;
  padding-bottom: 10px;
}

#project-display {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  max-height: 70vh;
}

.project-card {
  background-color: #20212e;
  border: solid 3px #20212e;
  padding: 1rem;
  margin: 0.5rem;
}
.project-card .title {
  font-size: 1.5rem;
}
.project-card h3 {
  font-size: 1.25rem;
}
.project-card a {
  color: #c0caf5;
  text-decoration: none;
}
.project-card a:hover {
  color: #73daca;
}
.project-card:nth-child(1) .title {
  color: #7aa2f7;
}
.project-card:nth-child(2) .title {
  color: #bb9af7;
}
.project-card:nth-child(3) .title {
  color: #73daca;
}
.project-card:nth-child(4) .title {
  color: #9ece6a;
}
.project-card:nth-child(5) .title {
  color: #e0af68;
}
.project-card:nth-child(6) .title {
  color: #ff9e64;
}
.project-card:nth-child(7) .title {
  color: #f7768e;
}
.project-card:nth-child(8) .title {
  color: #7aa2f7;
}
.project-card:nth-child(9) .title {
  color: #bb9af7;
}
.project-card:nth-child(10) .title {
  color: #73daca;
}
.project-card:nth-child(11) .title {
  color: #9ece6a;
}
.project-card:nth-child(12) .title {
  color: #e0af68;
}
.project-card:nth-child(13) .title {
  color: #ff9e64;
}
.project-card:nth-child(14) .title {
  color: #f7768e;
}
.project-card:nth-child(15) .title {
  color: #7aa2f7;
}
.project-card:nth-child(16) .title {
  color: #bb9af7;
}
.project-card:nth-child(17) .title {
  color: #73daca;
}
.project-card:nth-child(18) .title {
  color: #9ece6a;
}
.project-card:nth-child(19) .title {
  color: #e0af68;
}
.project-card:nth-child(20) .title {
  color: #ff9e64;
}
.project-card:nth-child(1) {
  transition-delay: 100ms;
}
.project-card:nth-child(2) {
  transition-delay: 200ms;
}
.project-card:nth-child(3) {
  transition-delay: 300ms;
}
.project-card:nth-child(4) {
  transition-delay: 400ms;
}
.project-card:nth-child(5) {
  transition-delay: 500ms;
}
.project-card:nth-child(6) {
  transition-delay: 600ms;
}
.project-card:nth-child(7) {
  transition-delay: 700ms;
}
.project-card:nth-child(8) {
  transition-delay: 800ms;
}
.project-card:nth-child(9) {
  transition-delay: 900ms;
}
.project-card:nth-child(10) {
  transition-delay: 1000ms;
}
.project-card:nth-child(11) {
  transition-delay: 1100ms;
}
.project-card:nth-child(12) {
  transition-delay: 1200ms;
}

.findme-section {
  font-size: 70px;
  display: flex;
  justify-content: center;
}
.findme-section a {
  margin: 0 1rem;
}
.findme-section a:hover {
  color: #c0caf5;
}
.findme-section a:hover .fa-linkedin {
  color: #7aa2f7;
}
.findme-section a:hover .fa-github {
  color: #f0f0f0;
}
.findme-section a:nth-child(1) {
  transition-delay: 100ms;
}
.findme-section a:nth-child(2) {
  transition-delay: 200ms;
}
.findme-section a:nth-child(3) {
  transition-delay: 300ms;
}
.findme-section a:nth-child(4) {
  transition-delay: 400ms;
}
.findme-section a:nth-child(5) {
  transition-delay: 500ms;
}
.findme-section a:nth-child(6) {
  transition-delay: 600ms;
}
.findme-section a:nth-child(7) {
  transition-delay: 700ms;
}
.findme-section a:nth-child(8) {
  transition-delay: 800ms;
}
.findme-section a:nth-child(9) {
  transition-delay: 900ms;
}
.findme-section a:nth-child(10) {
  transition-delay: 1000ms;
}
.findme-section a:nth-child(11) {
  transition-delay: 1100ms;
}
.findme-section a:nth-child(12) {
  transition-delay: 1200ms;
}

#mail-link {
  margin-top: 1rem;
}

#pim-photo {
  width: 80%;
  display: block;
  margin: auto;
}

@media screen and (max-width: 900px) {
  #greeter {
    flex-direction: column;
  }
  #greeter-profile {
    flex-direction: column;
  }
  #trophy-picture {
    margin-top: 40px;
  }
  #project-display {
    max-height: none;
  }
  #pim-photo {
    margin-top: 40px;
  }
  .web-icon:not(:first-child) {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  header {
    height: fit-content;
  }
  #greeter {
    height: fit-content;
  }
}

/*# sourceMappingURL=index.css.map */
