body,
html {
  font-family: "meslolgs_nfregular";
  background-color: #1a1b26;
  color: #c0caf5;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  position: relative;
  background-image: url("../images/dots.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: #16161d;
  border-top: solid 3px #7aa2f7;
  height: fit-content;
  text-align: center;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #c0caf5;
}

.link {
  text-decoration: underline;
}
.link:hover {
  color: #73daca;
}

.navbar {
  background-color: #1a1b26;
  color: #c0caf5;
}
.navbar .nav-link {
  color: #c0caf5;
  margin-left: 5px;
  margin-right: 5px;
  transition: none;
}
.navbar .nav-link:hover {
  color: #73daca;
}
.navbar .nav-link.active {
  color: #c0caf5;
  border-bottom: solid 2px #bb9af7;
}
.navbar .nav-link.active:hover {
  color: #73daca;
}

.navbar-brand {
  color: #c0caf5;
}
.navbar-brand:hover {
  color: #73daca;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192, 202, 245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
  outline: none;
  box-shadow: none;
}

img {
  border: solid 3px #303447;
}

.red {
  color: #f7768e;
}

.blue {
  color: #7aa2f7;
}

.yellow {
  color: #e0af68;
}

.purple {
  color: #bb9af7;
}

.orange {
  color: #ff9e64;
}

.green {
  color: #9ece6a;
}

.teal {
  color: #73daca;
}

.grey {
  color: #9aa5ce;
}

.cyan {
  color: #7dcfff;
}

.white {
  color: #f0f0f0;
}

@media screen and (max-width: 900px) {
  .nav-link.active {
    color: #73daca !important;
    border: none !important;
  }
}
@media screen and (max-width: 500px) {
  header {
    background-attachment: unset;
  }
}
#title-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

#plaque {
  background-color: #1a1b26;
  border: solid 3px #7aa2f7;
  padding: 1rem 0;
  margin: 0 15%;
}
#plaque #header {
  font-size: 40px;
  padding: 5px 0;
}

.grid-item {
  display: flex;
}
.grid-item:nth-child(1) .card-item h2 {
  color: #7aa2f7;
}
.grid-item:nth-child(2) .card-item h2 {
  color: #bb9af7;
}
.grid-item:nth-child(3) .card-item h2 {
  color: #73daca;
}
.grid-item:nth-child(4) .card-item h2 {
  color: #9ece6a;
}
.grid-item:nth-child(5) .card-item h2 {
  color: #e0af68;
}
.grid-item:nth-child(6) .card-item h2 {
  color: #ff9e64;
}
.grid-item:nth-child(7) .card-item h2 {
  color: #f7768e;
}
.grid-item:nth-child(8) .card-item h2 {
  color: #7aa2f7;
}
.grid-item:nth-child(9) .card-item h2 {
  color: #bb9af7;
}
.grid-item:nth-child(10) .card-item h2 {
  color: #73daca;
}
.grid-item:nth-child(11) .card-item h2 {
  color: #9ece6a;
}
.grid-item:nth-child(12) .card-item h2 {
  color: #e0af68;
}
.grid-item:nth-child(13) .card-item h2 {
  color: #ff9e64;
}
.grid-item:nth-child(14) .card-item h2 {
  color: #f7768e;
}
.grid-item:nth-child(15) .card-item h2 {
  color: #7aa2f7;
}
.grid-item:nth-child(16) .card-item h2 {
  color: #bb9af7;
}
.grid-item:nth-child(17) .card-item h2 {
  color: #73daca;
}
.grid-item:nth-child(18) .card-item h2 {
  color: #9ece6a;
}
.grid-item:nth-child(19) .card-item h2 {
  color: #e0af68;
}
.grid-item:nth-child(20) .card-item h2 {
  color: #ff9e64;
}
.grid-item .card-item {
  background-color: #20212e;
  border: solid 3px #20212e;
  padding: 10px;
}
.grid-item .card-item h2 {
  margin-bottom: 20px;
}
.grid-item .card-item h2 .shortened {
  font-size: 22px;
}
.grid-item .card-item a {
  margin-top: 10px;
}
.grid-item .card-item a:hover {
  color: #73daca;
}

.hidden-fade {
  opacity: 0;
  transition: all 1s;
  transform: translateY(5vh);
}

@keyframes static-hidden-fade {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.static-hidden-fade {
  opacity: 0;
  animation: static-hidden-fade 1s;
  animation-fill-mode: forwards;
}

.show-fade {
  opacity: 1;
}

.hidden-slide {
  opacity: 0;
  transition: all 1s;
  transform: translateX(100%);
}

.show-slide {
  opacity: 1;
  transform: translateX(0);
}

.typing-effect {
  overflow: hidden;
  border-right: 0.4em solid #9ece6a;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing-animation 2s steps(22, end) 1s normal both, blink-caret 1.2s step-end infinite;
}

@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #9ece6a;
  }
}
body {
  overflow-y: hidden;
}

main {
  min-height: 80vh;
  margin: 1rem 0;
}

footer {
  width: 100vw;
  margin-top: auto;
}

#plaque #header {
  color: #bb9af7;
}

.grid-item:nth-child(1) .card-item {
  animation-delay: 100ms;
}
.grid-item:nth-child(2) .card-item {
  animation-delay: 200ms;
}
.grid-item:nth-child(3) .card-item {
  animation-delay: 300ms;
}
.grid-item:nth-child(4) .card-item {
  animation-delay: 400ms;
}
.grid-item:nth-child(5) .card-item {
  animation-delay: 500ms;
}
.grid-item:nth-child(6) .card-item {
  animation-delay: 600ms;
}
.grid-item:nth-child(7) .card-item {
  animation-delay: 700ms;
}
.grid-item:nth-child(8) .card-item {
  animation-delay: 800ms;
}
.grid-item:nth-child(9) .card-item {
  animation-delay: 900ms;
}
.grid-item:nth-child(10) .card-item {
  animation-delay: 1000ms;
}
.grid-item:nth-child(11) .card-item {
  animation-delay: 1100ms;
}
.grid-item:nth-child(12) .card-item {
  animation-delay: 1200ms;
}
.grid-item:nth-child(13) .card-item {
  animation-delay: 1300ms;
}
.grid-item:nth-child(14) .card-item {
  animation-delay: 1400ms;
}
.grid-item:nth-child(15) .card-item {
  animation-delay: 1500ms;
}
.grid-item:nth-child(16) .card-item {
  animation-delay: 1600ms;
}
.grid-item:nth-child(17) .card-item {
  animation-delay: 1700ms;
}
.grid-item:nth-child(18) .card-item {
  animation-delay: 1800ms;
}
.grid-item:nth-child(19) .card-item {
  animation-delay: 1900ms;
}
.grid-item:nth-child(20) .card-item {
  animation-delay: 2000ms;
}

.card-item {
  padding: 1rem;
}
.card-item h2 {
  font-size: 1.5rem;
}
.card-item h3 {
  font-size: 1rem;
}
.card-item p {
  font-size: 1rem;
}

.typing-effect {
  animation: typing-animation 1.2s steps(18, end) 1s normal both, blink-caret 1.2s step-end infinite;
}

@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 220px;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #bb9af7;
  }
}
@media screen and (max-width: 900px) {
  footer {
    position: unset;
  }
}
@media screen and (max-width: 500px) {
  #plaque {
    margin-left: unset;
    margin-right: unset;
    text-align: center;
  }
  .card h2 span {
    font-size: 22px;
  }
  .card h2 .shortened {
    font-size: 16px;
  }
}

/*# sourceMappingURL=projects.css.map */
