---
import Hero from '../components/hero/hero';
import About from '../components/home/about.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="font-display">
		<Hero client:load/>
		<About />
	</div>
</Layout>
