---
import WhoSection from "./who_section.astro"
import WhatSection from "./what_section.astro"
import WhenSection from "./when_section.astro"
import WhereSection from "./where_section.astro"
import WhySection from "./why_section.astro"
---

<div class="flex flex-col items-center">
  <WhoSection />
  <WhatSection />
  <WhenSection />
  <WhereSection />
  <WhySection />
</div>

<script src="./observers.ts"/>