---
import MobileNav from "./mobile_nav.astro";
import MenuIcon from "@mui/icons-material/Menu";
import CloseIcon from '@mui/icons-material/Close';
import type { NavLink } from "./types";

const links: NavLink[] = [
    { name: "Home", target: "/" },
    { name: "Projects", target: "/projects" },
    { name: "Blog", target: "/blog" },
    { name: "Contact", target: "/#contact"},
    { name: "Resume", target: "https://drive.google.com/file/d/1y_VlkkFUaFXCCYF-WO-EDnCOfMHy_F90/view?usp=sharing"},
];

const linkCount: number = links.length;
const path: string = '/' + Astro.url.pathname.split("/")[1];
---

<nav class={`justify-between items-center transition-all duration-10  flex flex-row font-display`}>  
  <a href="/" class={`text-2xl md:self-center md:pl-3 p-4 no-underline font-bold`} 
    style={{animationDelay: "300ms"}}
  >John Ling</a>

  {/* mobile hamburger menu */}
  <button class="md:hidden p-2 mobile-menu-toggle" 
          style={{animationDelay: "300ms"}} 
  >
    <MenuIcon className="active:text-muted-white"/>
  </button>

  {/* desktop menu */} 
  <div class={`hidden invisible md:flex md:visible p-4`} 
        style={{animationDelay: "500ms"}}
  > 
    <ul class="flex flex-col md:flex-row gap-x-2 gap-y-2 md:gap-x-6 align-middle">
      <!-- render navlinks -->
      {links.map((link: NavLink, i: number) => {
        return <li class="p-2" style={{animationDelay: `${(linkCount - i) * 150}ms`}}>
          <a class={`no-underline w-screen md:w-auto ${link.target === path ? "font-bold text-orange" : ""}`} 
            aria-current={link.target === path ? "page" : undefined} href={link.target}
          >
            {link.name}
          </a>
        </li>
      })}
    </ul>
  </div>

  {/* mobile menu */}
  <div 
    class={
      `absolute visible block md:invisible md:hidden top-11 w-full bg-grey-normal transition-all z-10 
      ease-in-out duration-300`}
  >
    <div id="mobile-menu-container" class="invisible transition-all ease-in-out duration-300">
      <MobileNav links={links} activeLink={path}>
        <button class="p-2 mobile-menu-toggle" slot="close-button" >
          <CloseIcon className="active:text-muted-white" />
        </button>
      </MobileNav>
    </div>
  </div>
</nav>

<script>
  let mobileOpen = false;

  const toggles = document.querySelectorAll(".mobile-menu-toggle");
  const mobileMenuContainer = document.getElementById("mobile-menu-container");
  const mobileMenuEntries = document.querySelectorAll(".mobile-menu-entry");

  function toggle_mobile_menu() {
    mobileOpen = !mobileOpen;
    if (mobileOpen) {

      // make menu visible
      mobileMenuContainer?.classList.remove("opacity-0", "invisible");
      mobileMenuContainer?.classList.add("opacity-100")

      // add animations for entries
      mobileMenuEntries?.forEach(entry => {
        entry.classList.remove("hidden");
        entry.classList.add("animate-fade-up");
      })

    } else {
      // make menu invisible
      mobileMenuContainer?.classList.remove("opacity-100");
      mobileMenuContainer?.classList.add("opacity-0", "invisible")

      // remove animations for entries
      mobileMenuEntries?.forEach(entry => {
        entry.classList.remove("animate-fade-up");
        entry.classList.add("hidden");
      })
    }
  }

  toggles?.forEach(toggle => {
    toggle.addEventListener("click", toggle_mobile_menu);
  })
</script>