---
import Layout from "../../layouts/Layout.astro";
import ProjectsPage from "../../components/projects";
---

<Layout>
  <div class="font-display">
    <ProjectsPage client:load />
  </div>
</Layout>