@use "./variables.scss" as *;

@mixin basic-fade-hidden {
    opacity: 0;
    transition: all 1s;
}

@mixin basic-fade-show {
    opacity: 1;
}

.hidden-fade {
    @include basic-fade-hidden();
    transform: translateY(5vh);
}

@keyframes static-hidden-fade {
    from {
        opacity: 0;
        transform: translateY(5vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.static-hidden-fade {
    opacity: 0;
    animation: static-hidden-fade 1s;
    animation-fill-mode: forwards;
}

.show-fade {
    @include basic-fade-show();
}

.hidden-slide {
    @include basic-fade-hidden();
    transform: translateX(100%);
}

.show-slide {
    @include basic-fade-show();
    transform: translateX(0);
}

@keyframes static-hidden-slide {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.static-hidden-slide {
    opacity: 0;
    animation: static-hidden-slide 1s;
    animation-fill-mode: forwards;
}


.typing-effect {
    overflow: hidden;
    border-right: 0.4em solid $green;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing-animation 2s steps(22, end) 1s normal both,
                blink-caret 1.2s step-end infinite;
}

@keyframes typing-animation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: $green;
    }
}

// Disable animations if needed 
@media (prefers-reduced-motion) {
    @mixin basic-fade-hidden {
        transition: none;
    }
}