@use "./variables.scss" as *;

@mixin basic-fade-hidden {
    opacity: 0;
    transition: all 1s;
}

@mixin basic-fade-show {
    opacity: 1;
}

.hidden-fade {
    @include basic-fade-hidden();
    transform: translateY(5vh);
}

@keyframes static-hidden-fade {
    from {
        opacity: 0;
        transform: translateY(5vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.static-hidden-fade {
    opacity: 0;
    animation: static-hidden-fade 1s;
    animation-fill-mode: forwards;
}

.show-fade {
    @include basic-fade-show();
}

.hidden-slide {
    @include basic-fade-hidden();
    transform: translateX(100%);
}

.show-slide {
    @include basic-fade-show();
    transform: translateX(0);
}

@keyframes static-hidden-slide {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.static-hidden-slide {
    opacity: 0;
    animation: static-hidden-slide 1s;
    animation-fill-mode: forwards;
}

// Disable animations if needed 
@media (prefers-reduced-motion) {
    @mixin basic-fade-hidden {
        transition: none;
    }
}