@use "./variables.scss" as *;

@font-face {
    font-family: 'meslolgs_nfitalic';
    src: url('../fonts/meslolgs_nf_italic-webfont.woff2') format('woff2'),
         url('../fonts/meslolgs_nf_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'meslolgs_nfregular';
    src: url('../fonts/meslolgs_nf_regular-webfont.woff2') format('woff2'),
         url('../fonts/meslolgs_nf_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'meslolgs_nfbold';
    src: url('../fonts/meslolgs_nf_bold-webfont.woff2') format('woff2'),
         url('../fonts/meslolgs_nf_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'meslolgs_nfbold_italic';
    src: url('../fonts/meslolgs_nf_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/meslolgs_nf_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body,
html {
    font-family: 'meslolgs_nfregular';
    background-color: $background;
    color: $text;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

  
::-webkit-scrollbar-track {
    background: #00000000;
}

::-webkit-scrollbar-thumb {
    background: #5d5d5d59;
    border: 1px;
    border-radius: 1px;
    &:hover {
        background: #4c4c4c;
    }
}


footer {
    background-color: $background-footer;
    border-top: solid 3px $blue;
    width: 100vw;
    height: fit-content;
    margin-top: auto;
    padding: 0.5rem;
    text-align: center;
}


a {
    text-decoration: underline;
    color: $text;

    &:hover {
        color: $bright-orange;
    }
}

img {
    border: solid 3px $highlight;
}

@mixin card {
    background-color: $background-dark;
    border: solid 3px $background-dark;  
}

.muted {
    color: $grey;
    * {
        color: $grey;
    }
}

.navbar {
    background-color: $background;
    color: $text;

    .nav-link {
        color: $text;
        margin-left: 5px;
        margin-right: 5px;
    
        transition: none;

        &.active {
            color: $text;
            border-bottom: solid 1px $bright-orange;
        }

        &:hover {
            color: $bright-orange;
        }
    }
}

.navbar-brand {
    color: $text;

    &:hover {
        color: $bright-orange;
    }
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192, 202, 245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
    outline: none;
    box-shadow: none;
}

.red {
    color: $red;
}

.blue {
    color: $blue;
}

.yellow {
    color: $yellow;
}

.purple {
    color: $purple;
}

.orange {
    color: $orange;
}

.bright-orange {
    color: $bright-orange;
}

.green {
    color: $green;
}

.teal {
    color: $teal;
}

.grey {
    color: $grey;
}

.cyan {
    color: $cyan;
}

.white {
    color: $white;
}

@media screen and (max-width: 1000px) {
    .navbar {   
        .nav-link {
            &.active {
                border-bottom: unset;
                border-left: solid 1px $bright-orange;
                padding-left: 5px;
            }
    
            &:hover {
                color: $bright-orange;
            }
        }
    }
}
