@use "./base.scss" as *;
@use "./variables.scss" as *;

.grid-item {
    $colours: $blue, $purple, $teal, $green, $yellow, $orange, $red;
    $colourCount: length($colours);
    $index: 1;
    @for $i from 1 through 20 {
        $colour: nth($colours, $index);
        &:nth-child(#{$i}) {
            .card-item {
                h2 {
                    color: $colour;
                }
            }
        }
        $index: ($index + 1) % $colourCount;
        @if ($index == 0) {
            $index: $colourCount;
        }
    }

    display: flex;
    
    .card-item {
        @include card;
        padding: 10px;
    
        h2 {
            margin-bottom: 20px;
            .shortened {
                font-size: 22px;
            }
        }
    }
}