@use "variables" as *;
@use "./base.scss" as *;
@use "./animations.scss";

body {
    overflow-y: hidden;
}

main {
    min-height: 80vh;
    margin: 1rem 0;}

footer {
    width: 100vw;
    margin-top: auto;
}

.grid-item {
    $colours: $blue, $purple, $teal, $green, $yellow, $orange, $red;
    $colourCount: length($colours);
    $index: 1;
    @for $i from 1 through 20 {
        $colour: nth($colours, $index);
        &:nth-child(#{$i}) {
            .card-item {
                animation-delay: 150ms * $i;
                h2 {
                    color: $colour;
                }
            }
        }
        $index: ($index + 1) % $colourCount;
        @if ($index == 0) {
            $index: $colourCount;
        }
    }

    display: flex;
    
    .card-item {
        @include card;
        padding: 10px;
    
        h2 {
            margin-bottom: 20px;
            .shortened {
                font-size: 22px;
            }
        }
    }
}

.card-item {
    padding: 1rem;
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }
}


@media screen and (max-width: 1000px) {
    footer {
        position: unset;
    }
}

@media screen and (max-width: 500px) {
    #plaque {
        margin-left: unset;
        margin-right: unset;
        text-align: center;
    }

    .card {
        h2 {
            span {
                font-size: 22px;   
            }
            .shortened {
                font-size: 16px;
            }
        }
    }
}

