@use "./variables.scss" as *;
@use "./base.scss" as *;
@use "./animations.scss";


main {
    min-height: 80vh;
    margin: 1rem 0;
}

footer {
    width: 100vw;
    margin-top: auto;
}


section {
	h3 {
		font-size: 1.25rem;
	}
}

#specs-list {
	list-style: square;
}

