@font-face {
    font-family: "mesloBold";
    src: url("../../../public/fonts/meslolgs_nf_bold.woff2");
    font-weight: bold;
}

.markdown h1 {
    font-family: "mesloBold";
    font-size: 2rem;
    line-height: 2.5rem;
}

.markdown h2 {
    font-family: "mesloBold";
    font-size: 1.75rem;
    line-height: 2.5rem;
}

.markdown h3 {
    font-family: "mesloBold";
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 700;
}

.markdown h4 {
    font-family: "mesloBold";
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-weight: 700;
}

.markdown h5 {
    font-size: 1rem;
    line-height: 2.5rem;
}

.markdown h6 {
    font-size: 0.75rem;
    line-height: 2.5rem;
}

.markdown ul {
    list-style: disc;
    margin-left: 2rem;
}

.markdown li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.markdown p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.markdown em {
    color: theme("colors.muted-white");

}


.markdown code {
    background-color: theme("colors.grey.dark");
    color: theme("colors.white");
}

.markdown pre {
    margin: 0 !important;
}
/* .markdown pre code {
    background-color: theme("colors.grey.dark") !important;
    border: solid 2px theme("colors.grey.light") !important;
    padding: 1rem; 
    margin-top: 2rem;
    margin-bottom: 1rem;
} */


.markdown code .hljs {
    color: theme("colors.white") !important;
    padding: 0 !important;
    margin: 0 !important;
}