.markdown h1 {
    font-family: "caskaydiaBold";
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

.markdown h2 {
    font-family: "caskaydiaBold";
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.markdown h3 {
    font-family: "caskaydiaBold";
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.markdown h4 {
    font-family: "caskaydiaBold";
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-weight: 700;
}

.markdown p em {
    font-family: "caskaydiaItalic";
}

.markdown h5 {
    font-size: 1rem;
    line-height: 2.5rem;
}

.markdown h6 {
    font-size: 0.75rem;
    line-height: 2.5rem;
}

.markdown ul {
    list-style: disc;
    margin-left: 2rem;
}

.markdown li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.markdown p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.markdown em {
    color: theme("colors.muted-white");

}

.markdown table {
    border: solid 1px theme("colors.muted-white");
    background-color: theme("colors.grey.normal");

}

.markdown table thead {
    border: solid 1px theme("colors.muted-white");
}

.markdown td {
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: solid 1px theme("colors.muted-white");
    border-right: solid 1px theme("colors.muted-white");
}



.markdown code {
    padding: 1px 2px;
    border-radius: 2px;
    background-color: #574e3d;
    color: #ebdbbc;
}

.markdown pre {
    margin: 0 !important;
}

.markdown img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown code .hljs {
    color: theme("colors.white") !important;
    padding: 0 !important;
    margin: 0 !important;
}

.markdown a {
    text-decoration: none;
    border-bottom: solid 1px theme("colors.orange");
    transition-property: border;
    transition-timing-function: cubic-bezier();
    transition-duration: 200ms;
}


.markdown a:hover {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
