@font-face {
    font-family: 'Caskaydia';
    src: url('/fonts/CaskaydiaMonoNerdFontMono-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CaskaydiaBold';
    src: url('/fonts/CaskaydiaMonoNerdFontMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CaskaydiaItalic';
    src: url('/fonts/CaskaydiaMonoNerdFontMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CaskaydiaBoldItalic';
    src: url('/fonts/CaskaydiaMonoNerdFontMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
