@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    color-scheme: light dark;
    
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #566074;
    border-radius: 4px;
}

*::-webkit-scrollbar-track {
    background-color: auto;
}

body {
    background-color: theme("colors.grey.normal");
    color: theme("colors.white");
    
    background-size: 80px 80px;
    background-image: 
        linear-gradient(to right, #22262E 1px, transparent 1px),
        linear-gradient(to bottom, #22262E 1px, transparent 1px);
        /* 081926 */
}

a {
    text-decoration: none;
}

a:hover {
    border-bottom: solid 2px theme("colors.orange");
}

.navlink:hover {
    border-bottom: unset !important;
}

.icon-link:hover {
    border-bottom: unset !important;
}


img {
    border: solid 4px theme("colors.grey.light");
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

