@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: theme("colors.grey.100");
    color: theme("colors.white");
}

a {
    text-decoration: underline;
}

a:hover {
    color: theme("colors.orange");
}