@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./font.css");


:root {
    color-scheme: dark;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
}

:root::-webkit-scrollbar {
    display: none;  /* Older Safari and Chromium */
}

body {
    background-color: theme("colors.grey.normal");
    color: theme("colors.white");
    
    /* background-size: 80px 80px;
    background-image: 
        linear-gradient(to right, #22262E 1px, transparent 1px),
        linear-gradient(to bottom, #22262E 1px, transparent 1px); */
        /* 081926 */
}

.glow {
    text-shadow: 
        0 0 5px #ff5500;
}

.link {
    text-decoration: none;
    border-bottom: solid 1px theme("colors.orange");
    transition-property: border;
    transition-timing-function: cubic-bezier();
    transition-duration: 200ms;
}

.link:hover {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

img {
    border: solid 3px theme("colors.grey.light");
    border-radius: 8px;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}